# OS files
Desktop.ini
Thumbs.db
._*
*.DS_Store
*~
\#*\#

# Cache and backup
*.bak
*.pyc
*-cache/
__pycache__/

# Local data
*.sqlite*
*.log
logs/
pids
*.pid
*.seed

# Local dependencies
.bundle/
node_modules/

# Local environment settings
.docker-project
.envrc
env/
env3/

# Sass
*.css
*.css.map

# Local project ignores
bzr-repo/
/tmp/
