talisker[gunicorn]==0.15.0
canonicalwebteam.discourse-docs==0.11.0
canonicalwebteam.flask_base==0.3.3
canonicalwebteam.http==1.0.1
canonicalwebteam.templatefinder==0.2.4
canonicalwebteam.search==0.2.0
canonicalwebteam.image-template==1.0.0
flask==1.1.1
feedparser==5.2.1
