<article class="col-4 col-medium-3 p-blog-card" itemtype="http://schema.org/BlogPosting">
  {% if article.group %}
  <div class="u-sv2 blog-p-card__header--{{ article.group.slug }}">
    <h5 class="p-muted-heading">{{ article.group.name }}</h5>
    <hr />
  </div>
  {% endif %}
    <div class="p-card__content">
      {% if article.image and article.image.source_url %}
      <div class="u-crop--16-9 u-sv1">
        <a href="/blog/{{ article.slug }}" aria-hidden="true" tabindex="-1">
          {{ article.image.rendered|safe }}
        </a>
      </div>
      {% endif %}
    <h3 class="p-heading--4">
      <a href="/blog/{{ article.slug }}" class="p-link--soft">{{ article.title.rendered|safe }}</a>
    </h3>
    <p><em>by {{ article.author.name }} on {{ article.date }}</em></p>
    {% if not article.image %}
      <p class="u-no-padding--bottom">{{ article.excerpt.raw }}</p>
    {% endif %}
  </article>
