////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// MAAS buttons
/// @group MAAS buttons
@mixin maas-buttons {
  .button--large {
    font-size: 20px;
    padding: 11px 38px;
  }

  .button--inline-positive {

    @media only screen and (max-width : $breakpoint-medium) {
      width: 100%;
    }
  }

  .button--neutral {
    background-color: $color-x-light;
    border: 0;
    color: $text-color;

    &:hover {
      background-color: $color-light;
    }
  }
}
