////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// MAAS Footer
/// @group MAAS Footer
@mixin maas-footer {
  .footer {
    background-color: $white;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;

    .footer__title {
      color: $warm-grey;
      font-size: 14px;
    }

    .footer__link {
      color: $cool-grey;

      &:hover {
        color: $button-primary-color;
      }

      &.footer__link--alt {
        color: $button-primary-color;
      }
    }

    .footer__legal {
      color: $warm-grey;
      float: left;
      width: 100%;
      border-top: 1px dotted #EEE;
      padding-top: 20px;
      background: url('../media/logos/logo-ubuntu-grey.png') 100% 20px no-repeat;

      .footer__legal-text {
        color: $warm-grey;
        font-size: 12px;
        margin-bottom: 0;
      }
    }

    .footer__bullets {

      .footer__bullets-item {
        margin-right: 0;

        .footer__link {
          color: $warm-grey;
        }

        &:after {
          line-height: 1;
          color: $warm-grey;
          content: "•";
          vertical-align: middle;
          margin: 0 5px
        }

        &:last-child:after {
          content: '';
        }
      }
    }
  }
}
