////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// MAAS Footer
/// @group MAAS Footer
@mixin maas-footer {
  .footer {
    background-color: $white;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;

    .footer__title {
      color: $warm-grey;
      font-size: 14px;
      text-transform: uppercase;
    }

    .footer__link {
      color: $cool-grey;

      &.external {
        background-image: url('../img/icons/external-link-footer.svg');
      }

      &:hover {
        color: $button-primary-color;
      }

      &.footer__link--alt {
        color: $button-primary-color;
      }
    }

    .footer__legal {
      color: $warm-grey;
      float: left;
      width: 100%;
      padding-top: 20px;

      @media only screen and (min-width: 768px) {
        background: url('../media/logos/logo-ubuntu-grey.png') 100% 20px no-repeat;
      }

      .footer__legal-text {
        color: $warm-grey;
        font-size: 12px;
        margin-bottom: 0;
      }
    }

    .footer__bullets {

      .footer__bullets-item {
        margin-right: 0;

        .footer__link {
          color: $warm-grey;

          &:hover {
            color: $button-primary-color;
          }
        }

        &:after {
          line-height: 1;
          color: $warm-grey;
          content: "•";
          vertical-align: middle;
          margin: 0 5px
        }

        &:last-child:after {
          content: '';
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .footer__col {
      margin: 0;
      padding: 0 10px;
      width: 50%;
      box-sizing: border-box;
      float: left;
    }
  }
}
