////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// main
/// @group main
@mixin maas-main {
  html {
    background-color: $white;  
  }

  .gigantic {
    font-size: 90px;
  }
  .mega {
    font-size: 45px;
  }
}
