////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// main
/// @group main
@mixin maas-main {
  html {
    background-color: $white;
  }

  body {
    background-image: none;
  }

  .gigantic {
    font-size: 90px;
  }

  .mega {
    font-size: 45px;
  }

  @media only screen and (max-width : 984px) {
    .not-for-medium {
      display: none !important;
    }
  }

  .external {
    background-image: url('#{$asset-path}b2e7072f-external-link-blue.svg');
  }
}
