////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// row element styles
/// @group row
@mixin maas-row {
  .row {
    background-color: $light-grey;

    @media screen and (min-width: ($breakpoint-medium + 1)) {
      padding: 90px 20px 70px;
    }

    &.strip-white {
      background: $white;
    }

    &.strip-dark {
      background: $cool-grey;
      color: $white;

      &--two-tone {

        > *:nth-child(2) {

          &:after {
            background-color: $warm-grey;
            content: '';
            position: absolute;
            width: 50vw;
          }
        }
      }
    }

    &.strip-trans {
      background: $transparent;
    }
  }
}
