////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// row element styles
/// @group row
@mixin maas-row {
  .row {
    background-color: $light-grey;

    @media screen and (min-width: ($breakpoint-medium + 1)) {
      padding: 90px 20px 70px;
    }

    &.strip-white {
      background: $white;
    }

    &.strip-dark {
      background: $cool-grey;
      color: $white;

      a {

        &:hover {
          color: $white;
        }
      }

      .strip-dark__col {
        width: 50%;
        margin-right: 0;
        padding: 0 40px;

        &--light {
          z-index: 1;

          &:after {
            background-color: $warm-grey;
            content: '';
            position: absolute;
            width: 50vw;
            top: -60px;
            right: 0;
            bottom: -60px;
            left: 0;
            z-index: -1;
          }
        }
      }
    }

    &.strip-trans {
      background: $transparent;
    }
  }
}
