////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// Helpers
/// @group Helpers
@mixin maas-helpers {
  @include maas-borders;
  @include maas-display;
  @include maas-padding;
  @include maas-margin;
  @include maas-vertical-alignment;
}

// scss-lint:disable ImportantRule
@mixin maas-borders($border-color: #DDD, $border-width: 1px) {
  .border {
    border: $border-width dotted $border-color;

    &--top {
      border-top: $border-width dotted $border-color;
    }

    &--right {
      border-right: $border-width dotted $border-color;
    }

    &--bottom {
      border-bottom: $border-width dotted $border-color;
    }

    &--left {
      border-left: $border-width dotted $border-color;
    }

    &--solid {
      border-style: solid;
    }
  }

  .no-border {
    border: 0;

    &--top {
      border-top: 0;
    }

    &--right {
      border-right: 0;
    }

    &--bottom {
      border-bottom: 0;
    }

    &--left {
      border-left: 0;
    }
  }
}

/// Alignment and display styles
@mixin maas-display {
  .align {

    &--right {
      text-align: right;
    }

    &--left {
      text-align: left;
    }

    &--center {
      text-align: center;
    }
  }

  .float {

    &--right {
      float: right !important;
    }

    &--left {
      float: left !important;
    }

    &--none {
      font-weight: normal !important;
    }
  }

  .muted {
    opacity: .5 !important;
    filter: alpha(opacity = 50) !important;
  }

  .clear {
    clear: both;
  }

  .hidden {
    display: none !important;
  }

  .overflow-hidden {
    overflow: hidden;
    position: relative;
  }

  .position {

    &--right {
      right: 0 !important;
    }

    &--left {
      left: 0 !important;
    }
  }
}

/// Add and remove paddings
@mixin maas-padding {
  .no {

    &-padding {
      padding: 0 !important;

      &--top {
        padding-top: 0 !important;
      }

      &--right {
        padding-right: 0 !important;
      }

      &--bottom {
        padding-bottom: 0 !important;
      }

      &--left {
        padding-left: 0 !important;
      }
    }
  }

  .padding {
    padding: 20px !important;

    &-top {

      &--10 {
        padding-top: 10px !important;
      }

      &--20 {
        padding-top: 20px !important;
      }

      &--30 {
        padding-top: 30px !important;
      }
    }

    &-right {

      &--10 {
        padding-right: 10px !important;
      }

      &--20 {
        padding-right: 20px !important;
      }

      &--30 {
        padding-right: 30px !important;
      }
    }

    &-bottom {

      &--10 {
        padding-bottom: 10px !important;
      }

      &--20 {
        padding-bottom: 20px !important;
      }

      &--30 {
        padding-bottom: 30px !important;
      }
    }

    &-left {

      &--10 {
        padding-left: 10px !important;
      }

      &--20 {
        padding-left: 20px !important;
      }

      &--30 {
        padding-left: 30px !important;
      }
    }
  }
}

// Add and remove margins
@mixin maas-margin {

  .no {

    &-margin {
      margin: 0 !important;

      &--top {
        margin-top: 0 !important;
      }

      &--right {
        margin-right: 0 !important;
      }

      &--bottom {
        margin-bottom: 0 !important;
      }

      &--left {
        margin-left: 0 !important;
      }
    }
  }

  .margin {
    margin: 20px !important;

    &-top {

      &--10 {
        margin-top: 10px !important;
      }

      &--20 {
        margin-top: 20px !important;
      }

      &--30 {
        margin-top: 30px !important;
      }
    }

    &-right {

      &--10 {
        margin-right: 10px !important;
      }

      &--20 {
        margin-right: 20px !important;
      }

      &--30 {
        margin-right: 30px !important;
      }
    }

    &-bottom {

      &--10 {
        margin-bottom: 10px !important;
      }

      &--20 {
        margin-bottom: 20px !important;
      }

      &--30 {
        margin-bottom: 30px !important;
      }
    }

    &-left {

      &--10 {
        margin-left: 10px !important;
      }

      &--20 {
        margin-left: 20px !important;
      }

      &--30 {
        margin-left: 30px !important;
      }
    }
  }
}

@mixin maas-vertical-alignment {
  .align-vertically {
    @media only screen and (min-width : 768px) {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}
// scss-lint:enable ImportantRule
