////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// Vertical divider applies a vertical divider between columns inside parent
/// @group Utils
/// @example
///   <div class="row vertical-divider">
///     <div class="six-col">...</div>
///   <div class="six-col last-col">...</div>
///   </div>
@mixin maas-vertical-divider {
  .vertical-divider {
    position: relative;

    > article {
      padding: 0;

      @media only screen and (min-width : 768px) {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
      }

      &:before {
        content: '';
        position: absolute;
        right: -($grid-gutter-width / 2);
        top: 0;
        height: 100%;
        width: 1px;
        border-left: 1px dotted $color-mid-dark;
      }
    }

    > article:last-of-type{
      padding-right: 0;

      &:before {
        border-left: 0;
      }
    }

    > article:first-of-type {
      padding-left: 0;
    }
  }
}
