////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// MAAS Footer
/// @group MAAS Footer
$title-color: #767676;

@mixin maas-footer {
  .footer {
    background-color: $white;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;

    .footer__title {
      color: $title-color;
      font-size: 14px;
      text-transform: uppercase;
    }

    .footer__link {
      color: $cool-grey;

      &:hover {
        color: $link-color;
      }

      &.external {
        background-image: url('#{$asset-path}769fa468-external-link-footer.svg');
        background-size: 10px;

        &:hover {
          background-image: url('#{$asset-path}b2e7072f-external-link-blue.svg');
        }
      }
    }

    .footer__legal {
      color: $warm-grey;
      float: left;
      width: 100%;
      padding-top: 20px;

      a {
        color: $warm-grey;
      }

      @media only screen and (min-width: 768px) {
        background: url('#{$asset-path}aa68c005-logo-ubuntu-grey.png') 100% 20px no-repeat;
      }

      .footer__legal-text {
        color: $warm-grey;
        font-size: 12px;
        margin-bottom: 0;
      }
    }

    .footer__bullets {
      margin-left: 0;

      .footer__bullets-item {
        display: inline;
        margin-right: 0;

        &:after {
          line-height: 1;
          color: $warm-grey;
          content: "•";
          vertical-align: middle;
          margin: 0 5px
        }

        &:last-child:after {
          content: '';
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .footer__col {
      margin: 0;
      padding: 0 10px;
      width: 50%;
      box-sizing: border-box;
      float: left;
    }
  }
}
