@mixin maas-forms {
  input,
  select,
  textarea {

    &.mktError {
      border: 1px solid $color-negative;
    }
  }

  // Select dropdown styles
  select {
    @include input-elements;
    display: block;
    clear: both;
    cursor: pointer;
    margin: 0;
    background-image: url('#{$asset-path}04d2075a-accordion-open.svg');
    background-repeat: no-repeat;
    background-position: top 18px right 10px;
    background-color: $color-x-light;
    padding: 11px 13px;
    box-shadow: none;
    width: 100%;

    // Removes firefox select styles & arrow
    appearance: none;
    text-indent: .01px;
    text-overflow: '';

    &[multiple],
    &[size] {
      height: auto;
      background-image: none;
      padding-top: 10px;
    }

    &[disabled] {
      color: $color-mid-dark;
      background-image: none;
      background-color: transparent;
    }

    // Removes firefox dotted outline focusing
    &:-moz-focusing {
      color: transparent;
      text-shadow: 0 0 0 $color-x-dark;
    }

    &::-ms-expand {
      display: none;
    }
  }

  span.mktFormMsg {
    margin-top: 10px;
    display: block;

    &.mktError {
      color: $color-negative;
    }
  }
}
