////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// MAAS Header
/// @group MAAS Header
@mixin maas-header {
  .banner {
    box-shadow: none;

    @media only screen and (min-width: $breakpoint-navigation-threshold) {
      border-bottom: 0;
    }

    .logo {

      img {
        margin-bottom: 0;
      }
    }

    .nav-primary {

      @media only screen and (min-width: $breakpoint-navigation-threshold) {
        width: auto;
        max-width: inherit;
      }

      ul li a,
      ul li a:link,
      ul li a:visited {

        @media only screen and (min-width: 768px) {
          &.active {
            box-shadow: inset 0px -3px 0 $button-primary-color;
          }

          &:hover {
            background-color: $button-primary-color;
          }
        }

        &.external {
          background-image: url('#{$asset-path}769fa468-external-link-footer.svg');
          background-position: right 20px bottom 15px;

          &:hover {
            background-repeat: no-repeat;
            background-size: 11px 11px;
          }

          @media only screen and (min-width: 768px) {
            background-image: url('#{$asset-path}789283ff-external-link-dark.svg');
            background-position: right 10px bottom 20px !important;
            padding-right: 30px;

            &:hover {
              background-position: right 10px bottom 20px !important;
              background-image: url('#{$asset-path}789283ff-external-link-dark.svg');
              background-repeat: no-repeat;
              background-size: 9.8px 9.8px;
            }
          }
        }
      }
    }

    #nav:target {

      ul {
        display: block;
      }

      + .nav-toggle .nav-toggle__link {

        &.close {
          display: block;
        }

        &.open {
          display: none;
        }
      }
    }
  }
}
