////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// row element styles
/// @group row
@mixin maas-row {
  .row {
    background-color: $color-light;

    @media screen and (min-width: $breakpoint-large) {
      padding: 90px 20px 70px;
    }

    &.strip-white {
      background: $color-x-light;
    }

    &.strip-dark {
      background: $color-dark;
      color: $color-x-light;

      a:hover {
        color: $color-x-light;
      }

      &--fluid {

        @media only screen and (max-width: $breakpoint-medium) {
          padding-bottom: 0;
        }

        .inner-wrapper {

          @media only screen and (max-width: $breakpoint-medium) {
            margin: 0 -20px;
          }
        }
      }

      .strip-dark__col {
        width: 50%;
        margin-right: 0;
        padding: 0 40px;

        @media only screen and (max-width: $breakpoint-medium) {
          width: 100%;
          padding: 20px 20px 0;
        }

        &--light {
          z-index: 1;

          &:after {
            background-color: $color-mid-dark;
            content: '';
            position: absolute;
            width: 50vw;
            top: -90px;
            right: 0;
            bottom: -90px;
            left: 0;
            z-index: -1;

            @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
              top: -40px;
              bottom: -40px;
            }

            @media only screen and (max-width: $breakpoint-medium) {
              top: 0;
              bottom: -20px;
              width: 100%;
            }
          }
        }
      }
    }

    &.strip-trans {
      background: transparent;
    }

    &--features {

      .row__image {
        height: 100%;
        margin: 0;
        max-height: 32px;
      }
    }

    &.row--works-on-all-your-hardware {
      @media only screen and (max-width: $breakpoint-medium) {
        .two-col {
          width: 48%;
          margin-right: 2%;

          &:nth-child(even) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
