// Import docs vanilla them
// ===
@import '../../node_modules/docs-vanilla-theme/scss/theme';
@include vanilla;
@include docs-base;
// We don't want the header - we're using MAAS's
// @include docs-header;
@include docs-nav;
@include docs-notes;
@include docs-rows;
@include docs-wrapper;
@include docs-toc;

.documentation__wrapper {
  flex-direction: column;

  @media only screen and (min-width : $breakpoint-medium) {
    flex-direction: row;
  }

  .external {
    background-image: url('#{$asset-path}769fa468-dark-external-link.svg');
  }
}

.documentation__jump {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  @media only screen and (min-width : $breakpoint-medium) {
    display: none;
  }
}

.documentation__nav {
  order: 1;

  @media only screen and (min-width : $breakpoint-medium) {
    order: 0;
  }

  h4 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  ul li:after {
    height: 2.25em;
  }

  .collapsed h4, .expanded h4 {
    cursor: pointer;
  }

  & > ul > li > a {
    font-size: 1em;
  }
}

.documentation__contents, .documentation__contents.inner-wrapper {
  margin-left: 0;
  display: flex;

  @media only screen and (max-width : $breakpoint-medium) {
    padding-top: 0;
  }

  .row {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  code {
    color: inherit;
  }

  pre {
    position: relative;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #f7f7f7;
    overflow: hidden;
    font-size: 1em;
    font-family: Ubuntu Mono;
    font-weight: 300;
    padding: .7em 1em;
    color: #333;
    width: 100%;

    @extend .code-block;
  }
}

.documentation__versions {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px dotted #cdcdcd;
  overflow: hidden;

  li {
    float: left;
    border-left: 1px dotted #cdcdcd;
    &:first-child {
      border-left: none;
      padding-left: 0;
    }
  }
}

// Import normal site header & footer
// ===
@import '../../node_modules/cloud-vanilla-theme/scss/build';
@import '../scss/base/header';
@import '../scss/base/footer';
@include cloud-header;
@include cloud-footer;
@include maas-header;
@include maas-footer;

body {
  background-image: none;
  background-color: white;
}
.footer {
  border-top:   1px solid rgb(205, 205, 205);
}
pre code {
  white-space: inherit;
}

