// import required files

$asset-path: 'https://assets.ubuntu.com/v1/';

@import 'cloud-vanilla-theme/scss/build';
@import '../scss/base/buttons';
@import '../scss/base/footer';
@import '../scss/base/forms';
@import '../scss/base/header';
@import '../scss/base/main';
@import '../scss/base/media';
@import '../scss/base/row';
@import '../scss/generic/external';
@import '../scss/generic/equal-height';
@import '../scss/generic/helpers';
@import '../scss/generic/inline-logos';
@import '../scss/generic/lists';
@import '../scss/generic/modal';
@import '../scss/generic/dividers';
@import '../scss/objects/box';
@import '../scss/objects/cta';
@import '../scss/objects/instructions';
@import '../scss/objects/pricing';
@import '../scss/objects/rowhero';

@include cloud-vanilla-theme;

// MAAS variables
$color-x-light: #fff;
$color-light: #f7f7f7;

@include maas-main;
@include maas-row;
@include maas-buttons;
@include maas-box;
@include maas-cta;
@include maas-equal-height;
@include maas-footer;
@include maas-forms;
@include maas-header;
@include maas-helpers;
@include maas-inline-logos;
@include maas-instructions;
@include maas-lists;
@include maas-external-link;
@include maas-media;
@include maas-pricing;
@include maas-rowhero;
@include maas-dividers;
