@mixin maas-p-hero-video {

  .p-hero-video {

    &__video-container {
      display: none;
      margin-top: 0;
    }

    &__link.is-playing {
      display: none;

      ~ .p-hero-video__video-container {
        display: inherit;
      }
    }

    &__link {
      display: block;
      position: relative;
    }

    &__play {
      position: absolute;
      right: calc(50% - 36px);
      top: calc(50% - 36px);
    }
  }
}
