@mixin maas-p-strip-slanted {
  [class^='p-strip'].is-slanted {
    background-color: #111;
    overflow: hidden;
    position: relative;

    @media (max-width: $breakpoint-large) {
      padding: $spv-outer--deep-scaleable * 0.5 0 $spv-outer--deep-scaleable;
    }
    @media (min-width: $breakpoint-large) {
      padding: $spv-outer--deep-scaleable 0 $spv-outer--deep-scaleable * 2;
    }

    // Generate golden ratio based angles in degrees and gradient color stops in percentages
    $golden-ratio-angles: 3, 8;
    $golden-ratio-percentages: 1, 2, 3;

    @each $i in $golden-ratio-angles {
      --gr#{$i}: #{100/pow(1.618,$i)}deg;
    }

    @each $i in $golden-ratio-percentages {
      --g#{$i}: #{100/pow(1.618,$i)}%;
    }

    // magic number to make line go through center of video playback button
    --g2a: 47.2%;

    background-image:
      linear-gradient(calc(-1 * var(--gr8)), #fff var(--g3), rgba(255, 255, 255, 0) calc(var(--g3) * 1.003)),
      linear-gradient(var(--gr3), rgba(31, 31, 31, 0.5) var(--g2), rgba(255, 255, 255, 0) var(--g2)),
      linear-gradient(calc(var(--gr3) * -1), rgba(31, 31, 31, 0.5) var(--g2), rgba(255, 255, 255, 0) var(--g1)),
      linear-gradient(calc(var(--gr3) * -1), rgba(31, 31, 31, 0.5) var(--g2a), rgba(255, 255, 255, 0) var(--g2a)),
      linear-gradient(calc(var(--gr3) * -1), rgba(31, 31, 31, 0.5) var(--g2), rgba(255, 255, 255, 0) var(--g2))
    ;

    background-position: 50% 50%, var(--g2) 50%, 50% 50%, 50% 50%, var(--g2) 50%;
    background-size: 5000px calc(103%);
  }
}
