@mixin vf-p-strip-slanted {
  $assets-path: 'https://assets.ubuntu.com/v1/';
  $horizontal-edge-padding: $spv-inter--regular-scaleable;
  $slanted-edge-padding: $horizontal-edge-padding; // coloured area takes half the rectangle surface area; to visually compensate, we multiply it by 2

  [class^='p-strip'].is-slanted {
    background-image: url('#{$assets-path}127c8ba7-hero-bg-maas-2.svg');
    background-position: 50% 47%;
    overflow: hidden;
    position: relative;

    @media (max-width: $breakpoint-large) {
      background-size: cover;
      padding: $spv-inter--regular-scaleable 0 $slanted-edge-padding;
    }
    @media (min-width: $breakpoint-large) {
      background-size: 5000px 667px; // actual svg size
      padding: $spv-inter--regular-scaleable 0 $slanted-edge-padding;
    }

    &::after {
      $bleed: -3px; // stretch outside to compensate for aliasing; otherwise edge of image underneath becomes visible as you resize
      background-position: 100% 100%;
      background-repeat: no-repeat;
      bottom: $bleed;
      content: '';
      left: $bleed;
      pointer-events: none;
      position: absolute;
      right: $bleed;
      top: $bleed;
      z-index: 1;

      @media only screen and (max-width: $breakpoint-large) {
        background-size: auto $slanted-edge-padding;
      }

      @media only screen and (min-width: $breakpoint-large) {
        background-size: 100%;
      }
    }
  }
}
