@mixin maas-p-lists {
  @include maas-p-is-ticked;
  @include maas-p-is-trisected;
  @include maas-p-list--split;
  @include maas-p-list--bulleted;
}

// use a different tick
@function svg-tick($color) {
  @if type-of($color) != 'color' {
    @warn '#{$color} is not a color.';
    @return false;
  }
  @return url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='22' viewBox='0 0 22 16'%3E%3Cpath fill='" + vf-url-friendly-color($color) + "' d='M20.04.343l-.154.136-11.138 9.755-6.53-5.6-1.973 2.23 8.505 8.95L21.687 2.2 20.04.343zz' /%3E%3C/svg%3E");
}

// use the vanilla tick but large (for A/B testing of homepage
@function svg-tick-large($color) {
  @if type-of($color) != 'color' {
    @warn '#{$color} is not a color.';
    @return false;
  }
  @return url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 14 14'%3E%3Ccircle fill='" + vf-url-friendly-color($color) + "' cx='7' cy='7' r='7'/%3E%3Cpath fill='%23fff' d='M6.1 10.813L2.41 8.105l1.184-1.613L5.9 8.187l4.393-4.394 1.414 1.414z' /%3E%3C/svg%3E");
}

@mixin maas-p-is-ticked {
  .is-ticked {
    background-image: svg-tick($color-tick);
    padding-left: 35px;
  }

  &.is-large {
    background-image: svg-tick-large($color-tick-large);
    padding-left: 55px;
  }
}

@mixin maas-p-is-trisected {

  [class*='p-list'] {

    &.is-trisected {

      @media (min-width: $breakpoint-medium) {
        display: flex;
        flex-wrap: wrap;

        .p-list__item {
          margin-right: 1rem;
          width: calc(33.33% - .75rem);

          &:nth-child(3n+3) {
            margin-right: 0;
          }

          &:nth-last-child(0) {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

// remove border from last item
@mixin maas-p-list--split {

  [class*='p-list'] {

    &.is-split {

      @media (min-width: $breakpoint-medium) {

        .p-list__item:last-of-type {
          border-bottom: 0;
        }
      }
    }
  }
}

@mixin maas-p-list--bulleted {
  .p-list--bulleted {
    list-style-type: disc;
  }
}

