@mixin maas-p-strip--dark {
  .p-takeover--dark {
    background-blend-mode: multiply, multiply, normal, normal;
    background-color: #111;
    background-image: linear-gradient(to bottom left, rgba(216, 216, 216, 0.54) 0, rgba(216, 216, 216, 0.54) 49.9%, transparent 50%), linear-gradient(to bottom right, rgba(228, 228, 228, 0.54) 0, rgba(228, 228, 228, 0.54) 49.9%, transparent 50%), linear-gradient(to top left, #fff 0%, #fff 49.3%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(201deg, #333 0%, #262626 46%, #111 90%);
    color: #fff;
    background-position: top right, top left, right bottom -1px, left top;
    background-repeat: no-repeat;
    background-size: 74% 99.83%, 68% 91%, 103.8% 20.26%, 100% 99.8%;
    margin: 0;
    padding-bottom: 11rem;
    padding-top: 6rem;
  }

  .p-takeover--no-overlays {
    // copy of ubuntu.com's .p-takeover--compliance found at https://ubuntu.com/takeovers
    background-image: linear-gradient(44deg, #171717 0%, #181818 9%, #262626 34%, #2D2D2D 67%, #383838 88%, #2E2E2E 100%, #393939 100%);
  }
}
