@mixin maas-docs {
  $sidebar-width: 18rem;

  .l-docs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: $grid-max-width;
  }

  .l-docs-sidebar {
    border-bottom: $border;
    border-right: $border;
    flex: 0 0 $sidebar-width;
    height: 100vh;
    overflow: auto;
    position: sticky;
    top: 0;

    @media only screen and (max-width: $breakpoint-navigation-threshold) {
      border-bottom: $border;
      border-right: 0;
      flex: auto;
      height: inherit;
      overflow: hidden;
      position: static;
      width: 100%;
    }
  }

  .l-docs-content {
    border-bottom: $border;
    flex: 5;
    margin-top: 0;
    overflow: hidden;

    @media only screen and (max-width: $breakpoint-navigation-threshold) {
      flex: auto;
    }

    .meta {
      display: none;
    }
  }

  .l-docs-row {
    @extend .row;
    margin-left: inherit;
    padding: 0 $sp-xxx-large;

    @media only screen and (max-width: $breakpoint-navigation-threshold) {
      padding-left: $sph-inter--expanded;
    }
  }

  .p-sidenav__toggle {
    background-size: $sp-medium;
    cursor: pointer;
    float: right;
    padding: $sp-x-large;
  }

  .p-sidenav__body {
    padding: $sp-large / 2 $sp-large;

    // Fix p-sidebar-nav to understand
    // h3 headings, and not require any classes on the <ul>s and <li>s
    // Because the markup is pulled directly in from Discourse
    h3 {
      font-size: 1rem;
      font-weight: 400;
      line-height: 2;
      margin: 0;
      padding: 0;
    }

    ul {
      margin-bottom: .625rem;
      margin-left: 0;
      padding-left: 1rem;
    }

    li {
      padding-bottom: .125rem;
      padding-top: .125rem;

      a,
      a:visited {
        color: $color-dark;
        text-decoration: none;
      }

      a:hover {
        color: $color-link;
        text-decoration: underline;
      }

      .is-active {
        @include vf-highlight-bar($bg-color: $color-mid-light, $position: left);

        &::before {
          bottom: -.25rem;
          left: -1rem;
          top: -.25rem;
        }
      }
    }
  }
}
