@mixin maas-p-lists {
  @include maas-p-is-ticked;
  @include maas-p-is-trisected;
  @include maas-p-list--split;
}

// use a different tick
@function svg-tick($color) {
  @if type-of($color) != 'color' {
    @warn '#{$color} is not a color.';
    @return false;
  }
  @return url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='22' viewBox='0 0 22 16'%3E%3Cpath fill='" + url-friendly-color($color) + "' d='M20.04.343l-.154.136-11.138 9.755-6.53-5.6-1.973 2.23 8.505 8.95L21.687 2.2 20.04.343zz' /%3E%3C/svg%3E");
}

@mixin maas-p-is-ticked {
  .is-ticked {
    background-image: svg-tick($color-tick);
    padding-left: 35px;
  }
}

@mixin maas-p-is-trisected {

  [class*='p-list'] {

    &.is-trisected {

      @media (min-width: $breakpoint-medium) {
        display: flex;
        flex-wrap: wrap;

        .p-list__item {
          margin-right: 1rem;
          width: calc(33.33% - .75rem);

          &:nth-child(3n+3) {
            margin-right: 0;
          }

          &:nth-last-child(0) {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

// remove border from last item
@mixin maas-p-list--split {

  [class*='p-list'] {

    &.is-split {

      @media (min-width: $breakpoint-medium) {

        .p-list__item:last-of-type {
          border-bottom: 0;
        }
      }
    }
  }
}
