@mixin maas-p-lists {
  @include maas-p-is-ticked;
}

// use a different tick
@function svg-tick($color) {
  @if type-of($color) != 'color' {
    @warn '#{$color} is not a color.';
    @return false;
  }
  @return url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='22' viewBox='0 0 22 16'%3E%3Cpath fill='" + vf-url-friendly-color($color) + "' d='M20.04.343l-.154.136-11.138 9.755-6.53-5.6-1.973 2.23 8.505 8.95L21.687 2.2 20.04.343zz' /%3E%3C/svg%3E");
}

// use the vanilla tick but large (for A/B testing of homepage
@function svg-tick-large($color) {
  @if type-of($color) != 'color' {
    @warn '#{$color} is not a color.';
    @return false;
  }
  @return url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 14 14'%3E%3Ccircle fill='" + vf-url-friendly-color($color) + "' cx='7' cy='7' r='7'/%3E%3Cpath fill='%23fff' d='M6.1 10.813L2.41 8.105l1.184-1.613L5.9 8.187l4.393-4.394 1.414 1.414z' /%3E%3C/svg%3E");
}

@mixin maas-p-is-ticked {
  $color-tick: #38b44a;
  $color-tick-large: #0a8420;

  .is-ticked {
    background-image: svg-tick($color-tick);
    padding-left: 35px;
  }

  .is-large {
    background-image: svg-tick-large($color-tick-large);
    background-size: auto;
    min-height: 2.3rem;
    padding-left: 55px;

    @media (max-width: $breakpoint-medium) {
      padding: .5rem 0 .5rem 50px;
    }
  }
}
