// Site specific footer pattern styling

@mixin maas-p-footer {
  .p-footer {
    border-top: 0;

    &__list {
      margin-top: 0;
    }

    &__legal {
      padding-top: 2rem;
      margin-bottom: 0;
    }
  }
}
