
@mixin maas-p-contact-modal {
  #contact-modal { // sass-lint:disable-line no-ids
    &.p-modal {
      align-items: start;
      position: fixed;
      z-index: 100;

      input[type="checkbox"] + label {
        margin-bottom: 0;
        margin-top: 0;
      }

      .p-modal__dialog {
        margin-bottom: 0;

        @media (min-width: $breakpoint-large + 100px) {
          max-width: $breakpoint-large;
          min-width: $breakpoint-large;
        }
      }

      .p-modal__header {
        border-bottom: 1px solid $color-mid-light;
        margin-bottom: $spv--large;
      }

      .p-modal__title {
        margin-bottom: $spv--small;
      }

      &.thank-you {
        .p-modal__title {
          opacity: 0;
        }

        .p-modal__header {
          border-bottom: 0;
        }
      }

      @media only screen and (min-width: $breakpoint-large) {
        .u-align {
          padding-bottom: 70px;

          &--bottom {
            bottom: 0;
            margin-top: 1rem;
            position: absolute;
          }
        }

        .pagination__link--next,
        .pagination__link--previous {
          margin-bottom: 0;
        }
      }
    }
  }
}
