// Global color settings

$color-x-dark:                      #000;
$color-accent:                      #333;
$color-tick:                        #38b44a;
$color-tick-large:                  #0a8420;
$color-modal-overlay:               rgba($color-x-dark, .85);
$color-modal-controls:              rgba($color-x-dark, .2);
$color-navigation-background:       $color-x-dark;
$color-navigation-active-bar:       #e95420;
