// Global color settings

$color-x-dark:                      #000;
$button-primary-color:              #e95420;
$color-accent:                      #333;
$color-tick:                        #38b44a;
$color-modal-overlay:               rgba($color-x-dark, .85);
$color-modal-controls:              rgba($color-x-dark, .2);
$color-light:                       #f7f7f7;
$color-navigation-background:       $color-x-dark;
