// settings
@import 'settings_colors';

// import vanilla-brochure-theme
@import 'vanilla-framework/scss/build';

// patterns
@import
'patterns_buttons',
'patterns_footer',
'patterns_heading-icon',
'patterns_hero-video',
'patterns_lists',
'patterns_links',
'patterns_modal',
'patterns_navigation',
'patterns-matrix',
'patterns_takeunders',
'patterns_inline-images';

// patterns
@include maas-p-buttons;
@include maas-p-footer;
@include maas-p-heading-icon;
@include maas-p-hero-video;
@include maas-p-lists;
@include maas-p-links;
@include maas-p-modal;
@include maas-p-navigation;
@include maas-p-matrix;
@include maas-p-takeunders;
@include maas-p-inline-images;

// XXX Ant: 04.12.17 This can be removed when this is fixed
// https://github.com/vanilla-framework/vanilla-framework/issues/1478
.u-align--center {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    max-width: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  &.u-align--center {
    max-width: none;
  }
}

h1,
.p-heading--one,
h2,
.p-heading--two {
  font-weight: 100;
}

.p-icon--default {
  height: auto;
  margin-bottom: $spv-intra;
  width: map-get($icon-sizes, social);
}

.u-min-margin--bottom {
  &h2,
  &.p-heading--two {
    margin-bottom: $sp-unit - map-get($nudges, nudge--h2);
  }

  &[class^='.p-button'] {
    margin-bottom: $spv-nudge-compensation;
  }
}