// settings
@import
'settings_colors';

// import vanilla-brochure-theme
@import 'vanilla-framework/scss/build';

// patterns
@import
'patterns_buttons',
'patterns_footer',
'patterns_heading-icon',
'patterns_hero-video',
'patterns_lists',
'patterns_links',
'patterns_modal',
'patterns_navigation',
'patterns_row',
'patterns_takeunders',
'patterns_inline-images';

// patterns
@include maas-p-buttons;
@include maas-p-footer;
@include maas-p-heading-icon;
@include maas-p-hero-video;
@include maas-p-lists;
@include maas-p-links;
@include maas-p-modal;
@include maas-p-navigation;
@include maas-p-takeunders;
@include maas-p-row;
@include maas-p-inline-images;

h1,
h2,
h3,
h4,
h5,
h6,
.p-heading--one,
.p-heading--two,
.p-heading--three,
.p-heading--four,
.p-heading--five,
.p-heading--six {
  line-height: 1.4;
}
