// settings
@import 'settings_colors';

// import vanilla-brochure-theme
@import 'vanilla-framework/scss/build';

// patterns
@import
'patterns_footer',
'patterns_heading-icon',
'patterns_hero-video',
'patterns_lists',
'patterns_modal',
'patterns_navigation',
'patterns_takeunders',
'patterns_inline-images';

// patterns
@include maas-p-footer;
@include maas-p-heading-icon;
@include maas-p-hero-video;
@include maas-p-lists;
@include maas-p-modal;
@include maas-p-navigation;
@include maas-p-takeunders;
@include maas-p-inline-images;

h1,
.p-heading--one,
h2,
.p-heading--two {
  font-weight: 100;
}

.p-icon--default {
  height: auto;
  margin-bottom: $spv-intra;
  width: map-get($icon-sizes, social);
}

.u-min-margin--bottom {
  &h2,
  &.p-heading--two {
    margin-bottom: $sp-unit - map-get($nudges, nudge--h2);
  }

  &h4,
  &.p-heading--four {
    margin-bottom: - map-get($nudges, nudge--h4); // the nudge on h4 is .05rem, so no need to subtract an sp-unit from it
  }

  &[class^='p-button'] {
    margin-bottom: $spv-nudge-compensation;
  }
}

@media only screen and (max-width: $breakpoint-medium) {
  .usabilla_live_button_container { // sass-lint:disable-line class-name-format
    left: calc(90% - 30px);
  }
}
