// settings
@import 'settings_colors';

$increase-font-size-on-larger-screens: false;

// import vanilla-brochure-theme
@import 'vanilla-framework/scss/build';

// patterns
@import
'patterns_strips',
'patterns_hero-video',
'patterns_lists',
'patterns_modal',
'patterns_takeunders',
'patterns_tables',
'patterns_contact-modal';

// patterns
@include maas-p-hero-video;
@include maas-p-lists;
@include maas-p-modal;
@include maas-p-takeunders;
@include maas-p-tables;
@include maas-p-contact-modal;
@include maas-p-strip-slanted;

@media only screen and (max-width: $breakpoint-medium) {
  .usabilla_live_button_container { // sass-lint:disable-line class-name-format
    left: calc(90% - 30px);
  }
}

// XXX Caleb: Increase space between detailed stepped list items
// Issue: https://github.com/vanilla-framework/vanilla-framework/issues/1917
.p-stepped-list--detailed {
  .p-stepped-list__content,
  .p-stepped-list__title {
    margin-bottom: $spv-outer--shallow-scaleable;
  }
}

.row.is-bordered::before   {
  left: 0;
  margin-top: -5px;
  width: 100%;
}
