<ul>
  <li>
    <h3>About MAAS</h3>

    <ul class="no-margin">
        <li class=""><a href="/docs/about">About MAAS</a></li>
    </ul>
  </li>
  <li>
    <h3>Install</h3>
    <ul class="no-margin">
        <li class=""><a href="/docs/install">Installing MAAS</a></li>
        <li class=""><a href="/docs/install">Post-install tasks</a></li>
    </ul>
  </li>
  <li>
    <h3>Additional Configuration</h3>
    <ul class="no-margin">
        <li class=""><a href="/docs/configure">Configuration</a></li>
        <li class=""><a href="/docs/config-cluster">Cluster configuration</a></li>
        <li class=""><a href="/docs/config-networks">Adding networks</a></li>
        <li class=""><a href="/docs/config-boot"> Sources</a></li>
        <li class=""><a href="/docs/config-ipv6"> IPv6 networking</a></li>
        <li class=""><a href="/docs/config-zones">Configuring zones</a></li>
        <li class=""><a href="/docs/config-static-ips">Static IP addresses</a></li>
        <li class=""><a href="/docs/kernel-options">Setting kernel options</a></li>
    </ul>
  </li>
  <li>
    <h3>Nodes</h3>
    <ul class="no-margin">
        <li class=""><a href="/docs/nodes">Adding nodes</a></li>
        <li class=""><a href="/docs/installing-ubuntu">Installing Ubuntu</a></li>
        <li class=""><a href="/docs/juju-quick-start">Working with Juju</a></li>
    </ul>
  </li>
  <li>
    <h3>How to...</h3>
    <ul class="no-margin">
        <li class=""><a href="/docs/trouble">Troubleshooting</a></li>
        <li class=""><a href="/docs/getting-help">Get help!</a></li>
    </ul>
  </li>
  <li>
    <h3>Reference</h3>
    <ul class="no-margin">
        <li class=""><a href="/docs/maascli">MAAS CLI</a></li>
        <li class=""><a href="/docs/changelog">Release Notes</a></li>
    </ul>
  </li>
</ul>
