<footer class="footer clearfix">
  <div class="inner-wrapper">
    <div class="footer__col">
      <div class="four-col">
        <h3 class="footer__title">MAAS</h3>
        <ul class="no-bullets">
          <li>
            <a class="footer__link" href="/">Home</a>
          </li>
          <li>
            <a class="footer__link" href="/get-started">Get started</a>
          </li>
          <li>
            <a class="footer__link external" href="http://docs.ubuntu.com/maas/">Docs</a>
          </li>
          <li>
            <a class="footer__link" href="/tour">Tour</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__col">
      <div class="four-col">
        <h3 class="footer__title">Need help?</h3>
        <ul class="no-bullets">
          <li>
            <a class="footer__link external" href="http://askubuntu.com/">Ask Ubuntu</a>
          </li>
          <li>
            <a class="footer__link external" href="http://webchat.freenode.net/?channels=maas">Chat with MAAS on freenode</a>
          </li>
          <li>
            <a class="footer__link external" href="https://launchpad.net/~maas-devel">Join the mailing list</a>
          </li>
          <li>
            <a href="/contact-us" class="footer__link">Commercial support</a>
          </li>
        </ul>
      </div>
      <div class="four-col last-col">
        <h3 class="footer__title">Contribute</h3>
        <ul class="no-bullets">
          <li>
            <a class="footer__link external" href="https://launchpad.net/maas">Launchpad</a>
          </li>
          <li>
            <a class="footer__link external" href="https://docs.ubuntu.com/maas/devel/en/contributing">Contribute to documentation</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <nav id="main-navigation" role="navigation" class="inner-wrapper clearfix">
    <div class="footer__legal clearfix has-cookie">
        <p class="twelve-col footer__legal-text">© 2015 Canonical Ltd. <a href="http://www.ubuntu.com">Ubuntu</a> and <a href="http://www.canonical.com">Canonical</a> are registered trademarks of Canonical Ltd.</p>
        <ul class="twelve-col inline-list footer__bullets clear">
          <li class="footer__bullets-item">
            <a class="footer__link" href="http://www.ubuntu.com/legal"><small>Legal information</small></a>
          </li>
          <li class="footer__bullets-item">
            <a class="footer__link" href="https://github.com/ubuntudesign/maas.io/issues"><small>Report a bug on this site</small></a>
          </li>
        </ul>
        <span class="accessibility-aid"><a class="footer__link" href="#">Got to the top of the page</a></span>
    </div>
  </nav>
</footer>
