<footer class="p-footer">
    <div class="row">
        <div class="col-4">
            <h3 class="p-footer__title p-heading--six">MAAS</h3>
            <ul class="p-footer__list p-list">
                <li class="p-list__item">
                    <a class="p-link--strong" href="/">Home</a>
                </li>
                <li class="p-list__item">
                    <a class="p-link--strong" href="/install">Install MAAS</a>
                </li>
                <li class="p-list__item">
                    <a class="p-link--strong" href="/how-it-works">How it works</a>
                </li>
                <li class="p-list__item">
                    <a class="p-link--external p-link--strong" href="https://docs.ubuntu.com/maas/2.2/en/">Docs</a>
                </li>
                <li class="p-list__item">
                    <a class="p-link--strong"  href="/tour">Tour</a>
                </li>
            </ul>
        </div>

        <div class="col-4">
            <h3 class="p-footer__title p-heading--six">Need help?</h3>
            <ul class="p-footer__list p-list">
                <li class="p-list__item">
                    <a class="p-link--external p-link--strong" href="https://askubuntu.com/questions/tagged/maas">Ask Ubuntu</a>
                </li>
                <li class="p-list__item">
                    <a class="p-link--external p-link--strong" href="http://webchat.freenode.net/?channels=maas">Chat with MAAS on freenode</a>
                </li>
                <li class="p-list__item">
                    <a class="p-link--external p-link--strong" href="https://lists.ubuntu.com/mailman/listinfo/maas-devel">Join the mailing list</a>
                </li>
                <li class="p-list__item">
                    <a class="p-link--strong" href="/contact-us">Commercial support</a>
                </li>
            </ul>
        </div>

        <div class="col-4">
            <h3 class="p-footer__title p-heading--six">Contribute</h3>
            <ul class="p-footer__list p-list">
                <li class="p-list__item">
                    <a class="p-link--external p-link--strong" href="https://launchpad.net/maas">Launchpad</a>
                </li>
                <li class="p-list__item">
                    <a class="p-link--external p-link--strong" href="https://docs.ubuntu.com/maas/2.2/en/contributing-writing">Contribute to documentation</a>
                </li>
            </ul>
        </div>
    </div>
    <nav class="row">
        <div class="p-footer__legal has-cookie">
            &copy; {% now "Y" %} Canonical Ltd. <a href="http://www.ubuntu.com">Ubuntu</a> and <a href="http://www.canonical.com">Canonical</a> are registered trademarks of Canonical Ltd.
            <ul class="p-footer__links">
                <li class="p-footer__item">
                    <a class="p-footer__link" href="http://www.ubuntu.com/legal"><small>Legal information</small></a>
                </li>
                <li class="p-footer__item">
                    <a class="p-footer__link" href="https://github.com/ubuntudesign/maas.io/issues"><small>Report a bug on this site</small></a>
                </li>
            </ul>
            <span class="u-off-screen"><a href="#">Got to the top of the page</a></span>
        </div>
    </nav>
</footer>
