{% load versioned_static %}
<meta charset="UTF-8" />
<meta name="description" content="MAAS (Metal as a Service) offers cloud style provisioning for physical servers. It is open source and free to use, with commercial support available from Canonical." />
<meta name="author" content="Canonical" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' https: http://www.google-analytics.com">

<link rel="shortcut icon" href="{{ ASSET_SERVER_URL }}55e92155-maas.ico" type="image/x-icon" />

<!-- stylesheets -->
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,700,700italic%7CUbuntu+Mono' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" media="screen" href="{% versioned_static css_file %}" />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ubuntucloud">
<meta name="twitter:creator" content="@ubuntucloud">
<meta name="twitter:domain" content="maas.io">
<meta name="twitter:title" content="Metal as a Service | MAAS">
<meta name="twitter:description" content="MAAS (Metal as a Service) offers cloud style provisioning for physical servers. It is open source and free to use, with commercial support available from Canonical.">
<meta name="twitter:image" content="https://assets.ubuntu.com/v1/6c4a1064-maas-twitter-logo.jpg">
