<header id="navigation" class="p-navigation is-dark">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a href="/" class="p-navigation__link">
          <img src="https://assets.ubuntu.com/v1/e1bdea10-MAAS+White.svg" alt="" width="100" height="48">
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>

    <nav class="p-navigation__nav">
      <ul id="main-navigation" class="p-navigation__links u-clearfix">
        <li class="p-navigation__link">
          <a href="/docs/installation" onclick="dataLayer.push({'event' : 'GAEvent' , 'eventCategory' : 'Main navigation' , 'eventAction' : 'Click' , 'eventLabel' : 'Install' });">Install</a>
        </li>
        <li class="p-navigation__link{% if request.path.startswith('/how-it-works') %} is-selected" aria-current="page{% endif %}">
          <a href="/how-it-works" onclick="dataLayer.push({'event' : 'GAEvent' , 'eventCategory' : 'Main navigation'
            , 'eventAction' : 'Click' , 'eventLabel' : 'How it works' });">How it works</a>
        </li>
        <li class="p-navigation__link{% if request.path.startswith('/tour') %} is-selected" aria-current="page{% endif %}">
          <a href="/tour" onclick="dataLayer.push({'event' : 'GAEvent' , 'eventCategory' : 'Main navigation' , 'eventAction' : 'Click' , 'eventLabel' : 'Tour' });">Tour</a>
        </li>
        <li class="p-navigation__link{% if request.path.startswith('/docs') %} is-selected" aria-current="page{% endif %}">
          <a href="/docs" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Main navigation' , 'eventAction' : 'Click' , 'eventLabel' : 'Docs' });">Docs</a>
        </li>
        <li class="p-navigation__link{% if request.path.startswith('/tutorials') %} is-selected" aria-current="page{% endif %}">
          <a href="/tutorials" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Main navigation' , 'eventAction' : 'Click' , 'eventLabel' : 'Tutorials' });">Tutorials</a>
        </li>
        <li class="p-navigation__link">
          <a href="https://discourse.maas.io" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Main navigation' , 'eventAction' : 'Click' , 'eventLabel' : 'Discourse' });">Discourse</a>
        </li>
        <li class="p-navigation__link{% if request.path.startswith('/contact-us') %} is-selected" aria-current="page{% endif %}">
          <a href="/contact-us" class="js-invoke-modal" onclick="dataLayer.push({'event' : 'GAEvent' , 'eventCategory' : 'Main navigation' , 'eventAction' : 'Click' , 'eventLabel' : 'Contact us' });">Contact us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
