<header class="banner global" role="banner">
  <nav role="navigation" class="nav-primary nav-right" id="nav">
    <span id="main-navigation-link"><a href="#main-navigation">Jump to site nav</a></span>
    <div class="logo">
      <a href="/">
        <img src="{{ STATIC_URL }}img/maas-logo.png" alt="MAAS" />
      </a>
    </div>
    <ul>
      <li><a href="/get-started" {% if level_1 == 'get-started' %} class="active"{% endif %}>Get started</a></li>
      <li><a href="/how-it-works" {% if level_1 == 'how-it-works' %} class="active"{% endif %}>How it works</a></li>
      <li><a href="/tour" {% if level_1 == 'tour' %} class="active"{% endif %}>Tour</a></li>
      <li><a href="/docs" {% if level_1 == 'docs' %} class="active"{% endif %}>Docs</a></li>
    </ul>
  </nav>
  <div class="nav-toggle">
    <a href="#nav" class="nav-toggle__link open"></a>
    <a href="#" class="nav-toggle__link close"></a>
  </div>
</header>
