<header id="navigation" class="p-navigation">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__tagged-logo">
        <a class="p-navigation__link" href="#">
          <div class="p-navigation__logo-tag">
            <img class="p-navigation__logo-icon" src="https://assets.ubuntu.com/v1/82818827-CoF_white.svg" alt="">
          </div>
          <span class="p-navigation__logo-title">Canonical MAAS</span>
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>

    <nav class="p-navigation__nav" aria-label="main">
      <ul id="main-navigation" class="p-navigation__items u-clearfix">
        <li class="p-navigation__item">
          <a class="p-navigation__link" href="/install" onclick="dataLayer.push({'event' : 'GAEvent' , 'eventCategory' : 'Main navigation' , 'eventAction' : 'Click' , 'eventLabel' : 'Install' });">Install</a>
        </li>
        <li class="p-navigation__item{% if request.path.startswith('/how-it-works') %} is-selected" aria-current="page{% endif %}">
          <a class="p-navigation__link" href="/how-it-works" onclick="dataLayer.push({'event' : 'GAEvent' , 'eventCategory' : 'Main navigation'
            , 'eventAction' : 'Click' , 'eventLabel' : 'How it works' });">How it works</a>
        </li>
        <li class="p-navigation__item{% if request.path.startswith('/tour') %} is-selected" aria-current="page{% endif %}">
          <a class="p-navigation__link" href="/tour" onclick="dataLayer.push({'event' : 'GAEvent' , 'eventCategory' : 'Main navigation' , 'eventAction' : 'Click' , 'eventLabel' : 'Tour' });">Tour</a>
        </li>
        <li class="p-navigation__item{% if request.path.startswith('/docs') %} is-selected" aria-current="page{% endif %}">
          <a class="p-navigation__link" href="/docs" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Main navigation' , 'eventAction' : 'Click' , 'eventLabel' : 'Docs' });">Docs</a>
        </li>
        <li class="p-navigation__item{% if request.path.startswith('/blog') %} is-selected" aria-current="page{% endif %}">
          <a class="p-navigation__link" href="/blog" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Main navigation' , 'eventAction' : 'Click' , 'eventLabel' : 'Blog' });">Blog</a>
        </li>
        <li class="p-navigation__item{% if request.path.startswith('/tutorials') %} is-selected" aria-current="page{% endif %}">
          <a class="p-navigation__link" href="/tutorials" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Main navigation' , 'eventAction' : 'Click' , 'eventLabel' : 'Tutorials' });">Tutorials</a>
        </li>
        <li class="p-navigation__item{% if request.path.startswith('/resources') %} is-selected" aria-current="page{% endif %}">
          <a class="p-navigation__link" href="/resources"
            onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Main navigation' , 'eventAction' : 'Click' , 'eventLabel' : 'Resources' });">Resources</a>
        </li>
        <li class="p-navigation__item">
          <a class="p-navigation__link" href="https://discourse.maas.io" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Main navigation' , 'eventAction' : 'Click' , 'eventLabel' : 'Discourse' });">Discourse</a>
        </li>
        <li class="p-navigation__item{% if request.path.startswith('/contact-us') %} is-selected" aria-current="page{% endif %}">
          <a class="p-navigation__link" href="/contact-us" class="js-invoke-modal" onclick="dataLayer.push({'event' : 'GAEvent' , 'eventCategory' : 'Main navigation' , 'eventAction' : 'Click' , 'eventLabel' : 'Contact us' });">Contact us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
