{% include "includes/tag_manager.html" %}

<!-- javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/static/js/jquery.command-line.js" defer></script>
<script src="/static/js/jquery.modal.min.js" defer></script>
<script src="/static/js/ga.js" defer></script>
<script src="https://assets.ubuntu.com/v1/703e23c9-lazysizes+noscript+native-loading.5.1.2.min.js" defer></script>

<!-- stylesheets -->
<link rel="stylesheet" type="text/css" media="screen" href="{{ versioned_static(css_file) }}" />

<link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/6284d208-maas-favicon-16px.png" sizes="16x16" />
<link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/5922a009-maas-favicon-32px.png" sizes="32x32" />

<meta name="google-site-verification" content="oJqEviYsw1FaDzCq7kzhewyJ2enm5vk9Q-prliavhjw" />
<meta name="description" content="MAAS (Metal as a Service) offers cloud style provisioning for physical servers. It is open source and free to use, with commercial support available from Canonical." />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ubuntucloud">
<meta name="twitter:creator" content="@ubuntucloud">
<meta name="twitter:domain" content="maas.io">
<meta name="twitter:title" content="Metal as a Service | MAAS">
<meta name="twitter:description" content="MAAS (Metal as a Service) offers cloud style provisioning for physical servers. It is open source and free to use, with commercial support available from Canonical.">
<meta name="twitter:image" content="https://assets.ubuntu.com/v1/6c4a1064-maas-twitter-logo.jpg">

<meta property="og:type" content="website">
<meta property="og:url" content="https://maas.io/">
<meta property="og:site_name" content="MAAS">
<meta property="og:title" content="Metal as a Service | MAAS">
<meta property="og:description" content="MAAS (Metal as a Service) offers cloud style provisioning for physical servers. It is open source and free to use, with commercial support available from Canonical.">
<meta property="og:image" content="https://assets.ubuntu.com/v1/6c4a1064-maas-twitter-logo.jpg">
