////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// Documentation
/// @group Documentation
@mixin maas-documentation {
  .docs {
    background-color: $white !important;

    .docs-nav {
      padding-bottom: 0;

      @media only screen and (max-width : 769px) {
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 0;
        margin-bottom: $gutter_width;
      }

      .docs-menu {
          margin-left: -20px;
          margin-right: -20px;
      }

      .expanded {

        h4 {
          background: url("../img/icons/accordion-close.svg") no-repeat right center;
          background-position: right 20px center;
          cursor: pointer;
          color: $cool-grey;
          font-weight: 100;
        }

        span.toggle-target:after {
          content: '\2212';  // Hex for the 'minus' character.
        }
      }

      .collapsed {

        h4 {
          background: url("../img/icons/accordion-open.svg") no-repeat right center;
          background-position: right 20px center;
          cursor: pointer;
          color: $warm-grey;
          font-weight: 100;
        }

        span.toggle-target:after {
          content: '+';
        }
      }

      span.toggle-target {
        float: right;
        cursor: pointer;
        margin-right: 10px;
        width: 20px;
        text-align: center;
        color: $cool-grey;
        transition: 0.5s ease;
        border: 1px solid $white;

        &:hover {
            border: 1px solid $cool-grey;
        }
      }

      h4 {
        $height: 40px;
        height: $height;
        border-top: 1px dotted $cool-grey;
        margin: 0;
        padding: 0 20px;
        line-height: $height;
      }

      ul {
        $gutter: 20px;
        $selected_border_width: 3px;

        list-style: none;
        margin: 0;
        padding-bottom: 1em;

        li {
          margin: 0;

          a {
            display: block;
            padding: 0.1em 0  0.1em $gutter;
            margin-right: $gutter + 10px;

            &.selected {
              border-left: 3px solid $button-primary-color;
              // Take into account the left border.
              padding-left: $gutter - 1px;
              color: $cool-grey;
            }
          }

          > ul {
            padding: 0;
          }
        }

        .sub {
          $gutter: $gutter + 10;

          a {
            padding-left: $gutter;

            &.selected {
              // Take into account the left border.
              padding-left: $gutter - $selected_border_width;
            }
          }
        }
      }

      // Top level sections get bottom padding.
      .section {
        padding: 0 0 20px;

        // Subsections & collapsed sections get no padding.
        &.collapsed, .section {
          padding: 0;
        }
      }

      .search-form {
        border-radius: 3px;
        position: relative;
        width: 100%;
        margin: 0 0 10px 0;

        input[type="text"] {
          box-shadow: none;
          height: 40px;
          border: 1px solid $cool-grey;
          padding-left: 35px;

          &:focus {
            border: 1px solid #9D9C9A;
            outline: none;
          }
        }

        button[type="submit"] {
          position: absolute;
          top: 5px;
          left: 5px;
          height: 30px;
          width: 30px;
          padding: 0;
          line-height: 0;
          -webkit-appearance: none;
          display: block;
          background: transparent;
          background-image: url("../img/icons/search_16.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 16px;
          text-indent: -9999px;
        }
      }

      .versions-nav {
        padding-bottom: 1em;
        font-size: 12px;

        .unavailable {
          text-decoration: line-through;
          color: $warm-grey;
        }

        .label {
          display: block;
          margin-bottom: .5em;
        }

        ul {
          display: inline;

          li {
            font-size: 12px;
            display: inline-block;
            margin-right: .3em;

            a {
              padding: 0;
              margin: 0;
            }
          }
        }

        .stable {
          padding-left: .5em;
          border-left: 1px solid $cool-grey;
        }
      }
    }

    .note {
      padding: 20px;
      background-color: #fdf6e7;
      border: 1px solid #eca918;
      border-radius: 2px;
      color: inherit;
    }

    .docs-content {
      padding-left: 30px;

      h1 {
        margin-top: 0.5em;
      }

      h2 {
      }

      iframe {
        margin: 0.25em 0 1em 0;
        width: 100%;
      }

      dl+h2 {
        margin-top: .563em;
      }

      dl+p {
        margin-top: .75em;
      }

      dt {
        margin: 1em 0 0.5em;
      }

      pre {
        background-color: $cool-grey;
        border: none;
        color: $mid-grey;

        code {
          margin-bottom: 0;
          color: $mid-grey;
        }
      }
    }

    .archived-warning {
      padding-left: 30px;
    }
  }
}
