////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// Pricing
/// @group Pricing
@mixin maas-pricing {
  .pricing {

    .pricing__option {
      padding: 30px;
      border: 1px solid #d2d2d2;
      border-radius: 3px;

      .pricing__option-title {
        font-size: 1.75em;
        margin-bottom: 12px;
      }

      .pricing__option-cost {
        font-size: 1.75em;
        text-align: left;
        color: $cool-grey;
        font-weight: 300;
        border-top: 1px solid #d2d2d2;
        padding-top: 12px;
        margin-top: 12px;

        .pricing__option-unit {
          font-size: .75em;
          color: #d2d2d2;
        }
      }

      .pricing__option-detail {
        border-top: 1px solid #d2d2d2;
        padding: 15px 0 0;
        box-sizing: border-box;
        min-height: 125px;
      }
    }
  }
}
