////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// Pricing
/// @group Pricing
@mixin maas-pricing {
  .pricing {

    &__option {
      padding: 30px;
      border: 1px solid #d2d2d2;
      border-radius: 3px;

      &-title {
        font-size: 1.25em;
        margin-bottom: 12px;

        @media only screen and (min-width: $breakpoint-medium) {
          font-size: 1.5em;
        }

        @media only screen and (min-width: $breakpoint-large) {
          font-size: 1.75em;
        }
      }

      &-cost {
        font-size: 1.25em;
        text-align: left;
        color: $cool-grey;
        font-weight: 300;
        border-top: 1px solid #d2d2d2;
        padding-top: 12px;
        margin-top: 12px;

        @media only screen and (min-width: $breakpoint-medium) {
          font-size: 1.5em;
        }

        @media only screen and (min-width: $breakpoint-large) {
          font-size: 1.75em;
        }
      }

      &-unit {
        font-size: .75em;
        color: #666;
      }

      &-detail {
        border-top: 1px solid #d2d2d2;
        padding: 15px 0 0;
        box-sizing: border-box;
        min-height: 125px;
      }
    }
  }
}
