////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// Row hero
/// @group Row hero
@mixin maas-rowhero {
  .row-hero {
    position: relative;
    margin-top: 0;
    padding: {
      bottom: 90px;
      top: 90px;
    }
    background-color: $cool-grey;
    background-image: url('#{$asset-path}6e4b2b20-MAAS-hero-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;

    @media only screen and (max-width : $breakpoint-medium) {
      padding: {
        bottom: 40px;
        top: 40px;
      }
    }

    .row-hero__link {
      color: $white;
      font-weight: 400;
    }

    .row-hero__logo {
      position: relative;
      top: -.1em;
      padding-top: 0;
      width: 1em;
      height: 1em;
      vertical-align: middle;
      display: inline;
      margin: 0;
      z-index: 2;
    }

    .row-hero__text {
      color: $white;
      margin-bottom: 0;
      z-index: 2;

      @media only screen and (max-width: $breakpoint-medium) {
        width: 100%;
        margin-right: 0;
      }

      .row-hero__intro {
        font-size: 24px;

        @media only screen and (max-width: 1030px) and (min-width: 768px) {
          font-size: 20px;
        }

        @media only screen and (max-width: $breakpoint-medium) {
          font-size: .875rem;
        }
      }
    }

    .row-hero__image {
      margin-bottom: -90px;
      overflow: visible;
      position: relative;

      @media only screen and (max-width : $breakpoint-medium) {
        display: none;
      }

      img {
        max-width: initial;
        margin-bottom: 0;
        margin-left: 90px;
        height: 100%;
        box-shadow: 0 10px 35px rgba(0,0,0,0.5);
      }
    }

    .row-hero__button-group {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;

      @media only screen and (max-width : $breakpoint-medium) {
        margin-top: 20px;
      }
    }

    .row-hero__button {
      float: left;
      position: relative;
      font-size: 18px;

      @media only screen and (max-width : $breakpoint-medium) {
        width: 100%;
      }

      + .row-hero__button {
        margin-left: 20px;
      }

      &--video {
        background: {
          image: url('#{$asset-path}17e7ea51-play-icon.svg');
          position: right 18px center;
          repeat: no-repeat;
        }
        padding-right: 48px;
      }
    }

    .row-hero__play {
      z-index: 3;
      margin: 0;
      width: auto;
      float: left;
      transition: all .2s;
      outline: 0;
      vertical-align: middle;
      line-height: 46px;
      color: $white;
      font-size: 18px;

      @media only screen and (max-width: 768px) {
        margin-top: 20px;
        position: relative;
        left: 0;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
      }

      img {
        max-width: 30px;
        outline: 0;
        float: left;
        vertical-align: middle;
        margin: 8px 10px 0 0;
      }
    }

    .row-hero__modal {
      z-index: 2;
    }
  }
}
