////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// Row hero
/// @group Row hero
@mixin maas-rowhero {
  .row-hero {
    padding-top: 0;
    padding-bottom: 60px;
    position: relative;
    overflow-y: hidden;
    min-height: 450px;
    margin-top: 0;
    background-color: #222;
    color: $white;

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-image: url('#{$asset-path}8ce3e107-hero-1.jpg');
      background-repeat: no-repeat;
      background-position: 0 12%;
      -ms-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
    }

    .row-hero__logo {
      position: relative;
      top: -.1em;
      padding-top: 0;
      width: 1em;
      height: 1em;
      vertical-align: middle;
      display: inline;
      margin: 0;
      z-index: 2;
    }

    .row-hero__text {
      color: $white;
      z-index: 2;

      .row-hero__intro {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

    .row-hero__image {
      display: none;
      z-index: 2;

      @media only screen and (min-width : 768px) {
        display: block;
        max-width: 768px;
        width: 100%;
        bottom: -50px;
        right: 20px;
        position: absolute;
        z-index: 1;
        border-radius: 4px 4px 0 0;
        box-shadow: 0px 1px 12px rgba(0,0,0,0.15);

        &.row-hero__image--alt {
          right: inherit;
          left: 0;
          z-index: 0;
          max-width: 960px;
          display: none;

          @media only screen and (min-width : 1439px) {
            display: block;
          }
        }
      }
    }

    .row-hero__cta {
      float: left;
      margin-right: 40px;
      position: relative;
      font-size: 18px;

      @media only screen and (max-width : $breakpoint-medium) {
        width: 100%;
      }
    }

    .row-hero__play {
      z-index: 3;
      margin: 0;
      width: auto;
      float: left;
      transition: all .2s;
      outline: 0;
      vertical-align: middle;
      line-height: 46px;
      color: $white;
      font-size: 18px;

      @media only screen and (max-width: 768px) {
        margin-top: 20px;
        position: relative;
        left: 0;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
      }

      img {
        max-width: 30px;
        outline: 0;
        float: left;
        vertical-align: middle;
        margin: 8px 10px 0 0;
      }
    }

    .row-hero__modal {
      z-index: 2;
    }
  }
}
