////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// instructions
/// @group Instructions
@mixin maas-instructions {
  .instruction {
    padding: 0 10px;
    position: relative;
    width: 100%;
    border-top: 1px dotted #DDD;

    @media screen and (min-width: ($breakpoint-medium + 1)) {
      padding: 0 20px;
    }

    &:last-of-type {
      border-bottom: 1px dotted #DDD;
    }

    .instruction__bullet,
    .instruction__details {
      margin-bottom: 0;
    }

    .instruction__bullet {
      margin-right: 0;
      background-color: $white;
      z-index: 1;
      padding: 20px 10px;

      @media only screen and (min-width : $breakpoint-medium) {
        padding: 60px 40px 60px 0;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 200%;
        background-color: $white;
        z-index: -1;
        border-right: 1px dotted #DDD;
      }
    }

    .instruction__step {
      $size: 50px;
      display: inline-block;
      border-radius: 50%;
      width: $size;
      height: $size;
      line-height: $size;
      background-color: #ccc;
      color: $white;
      text-align: center;
      vertical-align: top;
      font-size: 2em;
      font-weight: 400;
    }

    .instruction__title {
      display: inline;
      position: relative;
      top: 6px;
      line-height: 1.6;
    }

    .instruction__details {
      background: none;
      padding: 30px 10px;

      @media only screen and (min-width : $breakpoint-medium) {
        padding: 60px 0 60px 40px;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        width: 200%;
        background-color: $white;
        z-index: 0;
        border-right: 1px dotted #DDD;
      }
    }

    .command-line {
      position: relative;
      border-radius: 4px;
      background-color: #2c001e;
      border: 1px solid #2c001e;
      overflow: hidden;
      transition: all .2s;

      .command-line__input {
        border: 0;
        background: transparent;
        font-size: 1em;
        font-family: Ubuntu Mono;
        font-weight: 300;
        padding: .7em 1em;
        color: $white;
        width: 100%;
      }

      .command-line__copy-button {
        transition: background-color .2s;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        border: 0;
        height: 100%;
        display: block;
        text-indent: -9999px;
        background-image: url('#{$asset-path}994e60f9-get-link-url_16.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: $white;
      }
    }
  }
}
