{% extends "base_index.html" %}

{% block page_class %}404{% endblock %}
{% block page-title %}| 404{% endblock %}

{% block content %}
<section class="p-strip--light is-deep">
    <div class="row">
        <div class="col-6">
            <h1 >404:</h1>
            <h2>Page not found</h2>
            <p>You can make a fresh start at the <a href="/">MAAS home page</a>.<br> Still can't find what you're looking for? <a href="/contact-us" class="js-invoke-modal">Get in touch today</a>.</p>
        </div>
        <div class="col-6">
            <img src="{{ ASSET_SERVER_URL }}93f03c89-404-servers.svg" alt="404 servers">
        </div>
    </div>
</section>
{% endblock %}
