{% extends "base_index.html" %}

{% block page_class %}500{% endblock %}
{% block page_title %}| 500 - server error{% endblock %}

{% block content %}
<section class="p-strip--light is-deep">
  <div class="row">
    <div class="col-8">
      <h1>Server error</h1>
      <p>You can make a fresh start at the <a href="/">MAAS home page</a>.<br> Still can't find what you're looking for? <a href="http://www.ubuntu.com/contact-us">Get in touch today</a>.</p>
    </div>
  </div>
</section>
{% endblock %}
