{% extends "base_index.html" %}

{% block page-class %}about-page{% endblock %}

{% block content %}
    <section class="row row-hero">
        <div class="inner-wrapper">
            <div class="eight-col">
                <h1>About MAAS</h1>
                <p class="intro">Metal as a Service brings the language of the cloud to physical servers. It makes it easy to set up the hardware on which to deploy any service that needs to scale up and down dynamically; a cloud being just one example.</p>
            </div>
        </div>
    </section>
    <section class="row strip-white">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <div class="video-container">
                    <iframe width="1030" height="579" src="https://www.youtube.com/embed/J1XH0SQARgo" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="eight-col">
                <h2>What is MAAS</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero nesciunt reprehenderit corporis ad officia voluptatibus quas, fugiat, cupiditate eveniet fugit exercitationem pariatur. Voluptate, sunt, voluptates.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis id eum modi, delectus, hic aperiam? Numquam, natus?</p>
            </div>
        </div>
    </section>
    <section class="row row-features">
        <div class="inner-wrapper">
            <div class="six-col">
                <h2>Key features</h2>
                <ul class="list">
                    <li><strong>Feature:</strong> lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li><strong>Feature:</strong> lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li><strong>Feature:</strong> lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li><strong>Feature:</strong> lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li class="last-item"><strong>Feature:</strong> lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="inner-wrapper">
            <div class="five-col append-one">
                <h2>Documentation</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum molestias libero facere, voluptatum, porro earum?  consectetur adipisicing elit.</p>
                <a href="/docs" class="button--primary">Read the docs</a>
            </div>
            <div class="five-col last-col">
                <h2>Get started</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur facere quia neque soluta expedita, saepe possimus perspiciatis incidunt.</p>
                <a href="/get-started.html" class="button--primary">Get started</a>
            </div>
        </div>
    </section>
{% endblock %}
