{% extends "base_index.html" %}

{% block page_class %}about-page{% endblock %}
{% block page-title %}| About{% endblock %}

{% block content %}
    <section class="row row-hero">
        <div class="inner-wrapper">
            <div class="eight-col">
                <h1>About MAAS</h1>
                <p class="intro">Metal as a Service brings the language of the cloud to physical servers. It makes it easy to set up the hardware on which to deploy any service that needs to scale up and down dynamically; a cloud being just one example.</p>
            </div>
        </div>
    </section>
    <section class="row strip-white">
        <div class="inner-wrapper">
            <div class="four-col append-one">
                <h2>What is MAAS</h2>
                <p>The cloud is full of virtual machines and sometimes a virtual machine is to virtual. Sometime real work requires real machines. Setting up hardware can take a long time and you have to chose between the flexibility of the cloud and raw power of real metal. That is where MAAS comes in.</p>
                <p>MAAS delivers real servers on demand. So you can give a few servers to MAAS then spin them up on demand just like a cloud. MAAS handles all the boring stuff IPMI, DHCP, DNS, PXE, etc.</p>
            </div>
            <div class="seven-col last-col">
                <div class="video-container">
                    <iframe width="1030" height="579" src="https://www.youtube.com/embed/J1XH0SQARgo" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <section class="row row-features">
        <div class="inner-wrapper">
            <h2>Key features</h2>
            <ul class="list">
                <li class="six-col">
                    <h3>Dynamic provisioning and scaling</h3>
                    <p>Hardware provisioned through MAAS can be provisioned dynamically, just like cloud instances — except that we’re talking about the whole physical node. Through a simple web interface or API you can add, commission, update, deploy and recycle physical servers at will. As your needs change, you can respond rapidly, by adding new nodes and dynamically re-deploying them between services. When the time comes, nodes can be retired for use outside MAAS.</p>
                </li>
                <li class="six-col last-col">
                    <h3>Deploy services in seconds using Juju</h3>
                    <p>With Juju you can deploy, orchestrate and scale services in your MAAS cluster in seconds. Don’t spend hours planning and implementing a service deployment; just choose how many nodes your new service needs, then apply a pre-written charm. When your needs change, you can monitor, scale and adjust deployment parameters in real time, and when you're finished with a service, Juju can remove it without a trace. It's as easy as apt-get.</p>
                </li>
                <li class="six-col last-item">
                    <h3>Automated install</h3>
                    <p>When a new node boots up, MAAS steps in, supplies all the information the node requires, reboots it and provides an Ubuntu image to install.</p>
                    <p>In addition, MAAS can take care of hardware-specific tasks such as burn-in tests, firmware and RAID upgrades — and checking whether your hardware is Ubuntu certified.</p>
                </li>
                <li class="six-col last-col">
                    <h3>Make the most of your hardware &mdash; any hardware</h3>
                    <p>No need to spend days on manual provisioning and deployment. With MAAS, your new hardware can be part of your working infrastructure within minutes. Breathe new life into old hardware by recycling it for use in other parts of your network. Changing models or hardware providers? No worries! MAAS provides enough abstraction to overcome hardware incompatibilities, saving you from costly upgrades and vendor lock-in.</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="row">
        <div class="inner-wrapper">
            <div class="six-col">
                <h2>Documentation</h2>
                <p class="five-col">The documentation covers all aspects of the MAAS toolset. Take the time to read through them.</p>
                <a href="/docs" class="button--primary">Read the docs</a>
            </div>
            <div class="six-col last-col">
                <h2>Get started</h2>
                <p class="five-col">The best way to learn MAAS is to start building a cluster. Start now with the easy to follow steps.</p>
                <a href="/get-started" class="button--primary">Get started</a>
            </div>
        </div>
    </section>
{% endblock %}
