{% extends "base_index.html" %}

{% block content %}
    <section class="row row-hero">
        <div class="inner-wrapper">
            <div class="seven-col">
                <h1>About</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quidem. Nobis non nihil labore quaerat numquam fugiat iusto. Consequuntur aliquam, dolorem beatae ut. Iste sapiente debitis maiores consequuntur fugiat rem eos dolorum, facilis tempora, qui!</p>
            </div>
            <div class="five-col last-col">
                <img src="http://placehold.it/400x375" alt="">
            </div>
        </div>
    </section>
    <section class="row strip-white">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <div class="video-container">
                    <iframe width="1030" height="579" src="https://www.youtube.com/embed/J1XH0SQARgo" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="eight-col">
                <h2>What is MAAS</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero nesciunt reprehenderit corporis ad officia voluptatibus quas, fugiat, cupiditate eveniet fugit exercitationem pariatur. Voluptate, sunt, voluptates.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis id eum modi, delectus, hic aperiam? Numquam, natus?</p>
            </div>
        </div>
    </section>
    <section class="row strip-dark">
        <div class="inner-wrapper">
            <div class="six-col">
                <h2>Key features</h2>
                <ul class="list">
                    <li><strong>Feature:</strong> lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li><strong>Feature:</strong> lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li><strong>Feature:</strong> lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li><strong>Feature:</strong> lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li class="last-item"><strong>Feature:</strong> lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="inner-wrapper">
            <div class="six-col">
                <h2>Documentation</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum molestias libero facere, voluptatum, porro earum?</p>
                <a href="/docs" class="button--primary">Read the docs</a>
            </div>
            <div class="six-col last-col">
                <h2>Get started</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur facere quia neque soluta expedita, saepe possimus perspiciatis incidunt.</p>
                <a href="/get-started.html" class="button--primary">Get started</a>
            </div>
        </div>
    </section>
{% endblock %}
