<!DOCTYPE html>
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/Product">
  <head>
    <title itemprop="name">MAAS {% block page-title %}{% endblock %}</title>
    {% include "includes/head.html" with css_file="css/main.css" %}
  </head>
  <body class="{% block page_class %}{% endblock %}">
    {% include "includes/tag_manager.html" %}

    {% include "includes/header.html" %}

    <div class="u-no-margin--top" id="main-content">
      {% block content %}{% endblock %}
    </div>

    {% include "includes/footer.html" %}
    <!-- javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/jquery.command-line.js"></script>
    <script src="/static/js/jquery.modal.min.js"></script>
    <script src="/static/js/global-nav.js"></script>
    <script>canonicalGlobalNav.createNav({maxWidth: '64.875rem'});</script>
    {% block js-extra %}{% endblock %}
  </body>
</html>
<!-- This comment was updated at 17:07 on 2016-01-26 -->
