{% load versioned_static %}
<!doctype html>
<html lang="en" dir="ltr">

	<head>
	    <meta charset="UTF-8" />
	    <meta name="description" content="" />
	    <meta name="keywords" content="" />
	    <meta name="author" content="Canonical webteam" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />

	    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />

	    <title>MAAS {% block page-title %}{% endblock %}</title>

	    <!-- stylesheets -->
	    <link rel="stylesheet" type="text/css" media="screen" href="{% versioned_static 'css/main.css' %}" />
	    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,700,700italic%7CUbuntu+Mono' rel='stylesheet' type='text/css' />

	    <!-- javascript -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <script src="/static/js/jquery.accordion.js"></script>
	</head>

    <body class="{% block page_class %}{% endblock %}">
    	<header class="banner global" role="banner">
	        <nav role="navigation" class="nav-primary nav-right" id="nav">
	            <span id="main-navigation-link"><a href="#main-navigation">Jump to site nav</a></span>
	            <div class="logo">
	                <a href="/">
	                	<img src="{{ STATIC_URL }}img/maas-logo.png" alt="MAAS" />
	                </a>
	            </div>
	            <ul>
	                <li><a href="/about" {% if level_1 == 'about' %}class="active"{% endif %}>About</a></li>
	                <li><a href="/get-started" {% if level_1 == 'get-started' %}class="active"{% endif %}>Get started</a></li>
	                <li><a href="/docs" {% if level_1 == 'docs' %}class="active"{% endif %}>Docs</a></li>
	            </ul>
	        </nav>
	        <div class="nav-toggle">
                <a href="#nav" class="nav-toggle__link open"></a>
                <a href="#" class="nav-toggle__link close"></a>
            </div>
	    </header>
	    <div class="wrapper">
	        <div id="main-content">
	        	{% block content %}{% endblock %}
			</div>
		</div>
	    <footer class="global clearfix no-global">
	      <nav id="main-navigation" role="navigation" class="clearfix">
	        <div class="legal clearfix has-cookie">
	            <p class="twelve-col">© 2015 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
	            <ul class="inline-list clear">
	                <li><a href="/legal"><small>Legal information</small></a>
	                </li>
	                <li><a href="https://bugs.launchpad.net/maas-website/"><small>Report a bug on this site</small></a>
	                </li>
	            </ul>
	            <span class="accessibility-aid"><a href="#">Got to the top of the page</a></span>
	        </div>
	      </nav>
	    </footer>
    </body>
</html>
