{% extends "base_index.html" %}

{% block page_class %}get-started-page{% endblock %}
{% block page-title %}| Get started{% endblock %}

{% block content %}
    <section class="row strip-white">
        <div class="inner-wrapper">
            <div class="seven-col append-one">
                <h1>Get started with MAAS 2.0</h1>
                <p>Follow the instructions below to download, configure and install MAAS.</p>
            </div>
            <div class="four-col last-col box">
                <h3>Talk to our experts</h3>
                <p>We make MAAS amazing and we help people run critical infrastructure at scale with it. Contact us for more information or to discuss your specific needs.</p>
                <p><a href="/contact-us">Contact us &nbsp;&rsaquo;</a></p>
            </div>
        </div>
    </section>
    <section class="row clearfix instruction">
        <div class="inner-wrapper">
            <div class="five-col instruction__bullet">
                <div class="one-col">
                    <span class="instruction__step">1</span>
                </div>
                <div class="four-col last-col">
                    <h3 class="instruction__title">Setup your hardware</h3>
                </div>
            </div>
            <div class="seven-col last-col instruction__details">
                <p>You need one small server for MAAS and at least one server which can be managed with a BMC. It is recommended to have the MAAS server provide DHCP and DNS on a network the managed machines are connected to.</p>
            </div>
        </div>
    </section>
    <section class="row clearfix instruction">
        <div class="inner-wrapper">
            <div class="five-col instruction__bullet">
                <div class="one-col">
                    <span class="instruction__step">2</span>
                </div>
                <div class="four-col last-col">
                    <h3 class="instruction__title">Install Ubuntu Server</h3>
                </div>
            </div>
            <div class="seven-col last-col instruction__details">
                <p><a href="http://www.ubuntu.com/download/server" class="external">Download Ubuntu Server 16.04 LTS</a> and follow the  step-by-step installation instructions on your MAAS server. </p>
            </div>
        </div>
    </section>
    <section class="row clearfix instruction">
        <div class="inner-wrapper">
            <div class="five-col instruction__bullet">
                <div class="one-col">
                    <span class="instruction__step">3</span>
                </div>
                <div class="four-col last-col">
                    <h3 class="instruction__title">Install MAAS</h3>
                </div>
            </div>
            <div class="seven-col last-col instruction__details">
                <p class="command-line">
                    <input class="command-line__input" value="sudo apt update" readonly="readonly">
                    <button class="js-copy-to-clipboard command-line__copy-button">Copy to clipboard</button>
                </p>
                <p class="command-line">
                    <input class="command-line__input" value="sudo apt install maas" readonly="readonly">
                    <button class="js-copy-to-clipboard command-line__copy-button">Copy to clipboard</button>
                </p>
            </div>
        </div>
    </section>
    <section class="row clearfix instruction">
        <div class="inner-wrapper">
            <div class="five-col instruction__bullet">
                <div class="one-col">
                    <span class="instruction__step">4</span>
                </div>
                <div class="four-col last-col">
                    <h3 class="instruction__title">Create admin user</h3>
                </div>
            </div>
            <div class="seven-col last-col instruction__details">
                <p>Create your admin credentials by typing.</p>
                <p class="command-line">
                    <input class="command-line__input" value="sudo maas createadmin" readonly="readonly">
                    <button class="js-copy-to-clipboard command-line__copy-button">Copy to clipboard</button>
                </p>
                <p>Login to the MAAS UI at http://&lt;your.maas.ip&gt;:5240/MAAS/</p>
            </div>
        </div>
    </section>
    <section class="row clearfix instruction">
        <div class="inner-wrapper">
            <div class="five-col instruction__bullet">
                <div class="one-col">
                    <span class="instruction__step">5</span>
                </div>
                <div class="four-col last-col">
                    <h3 class="instruction__title">Turn on DHCP</h3>
                </div>
            </div>
            <div class="seven-col last-col instruction__details">
                <p>Go to the &ldquo;Networks&rdquo; tab, and select the VLAN for which you want to enable DHCP, and on the &ldquo;Take action&rdquo; button select &ldquo;Provide DHCP&rdquo;.</p>
                <ol>
                    <li>Set the Rack controller that will manage DHCP.</li>
                    <li>Select the subnet where to create the DHCP Dynamic range on.</li>
                    <li>Fill in details for the dynamic range.</li>
                </ol>
                <img src="{{ ASSET_SERVER_URL }}ab018774-vlan-details.png" class="image--shadow" alt="VLAN details">
            </div>
        </div>
    </section>
    <section class="row clearfix instruction">
        <div class="inner-wrapper">
            <div class="five-col instruction__bullet">
                <div class="one-col">
                    <span class="instruction__step">6</span>
                </div>
                <div class="four-col last-col">
                    <h3 class="instruction__title">Import images</h3>
                </div>
            </div>
            <div class="seven-col last-col instruction__details">
                <p>Go to the &ldquo;Images&rdquo; tab and choose the OS releases and architectures you want to install dynamically.</p>
                <img src="{{ ASSET_SERVER_URL }}e4a4fc29-boot-images.png" class="image--shadow" alt="MAAS Images">
            </div>
        </div>
    </section>
    <section class="row clearfix instruction no-border--bottom">
        <div class="inner-wrapper">
            <div class="five-col instruction__bullet">
                <div class="one-col">
                    <span class="instruction__step">7</span>
                </div>
                <div class="four-col last-col">
                    <h3 class="instruction__title">Enlist and commission servers</h3>
                </div>
            </div>
            <div class="seven-col last-col instruction__details">
                <p>Now you are ready to enlist and commission machines.</p>
                <ol>
                    <li>Set all the servers to PXE boot</li>
                    <li>Boot each machine once. You should see these machines appear in MAAS</li>
                    <li>If your machines do not have a IPMI based BMC, proceed to edit them and enter their BMC details</li>
                    <li>Select all the machines and &ldquo;Commission&rdquo; them using the &ldquo;Take action&rdquo; button</li>
                    <li>When machines have a “Ready” status you can start deploying</li>
                </ol>
                <img src="{{ ASSET_SERVER_URL }}cdc79a2b-node-listing.png" class="image--shadow" alt="MAAS node listing">
            </div>
        </div>
    </section>
{% endblock %}
