{% extends "base_index.html" %}

{% block page_class %}get-started-page{% endblock %}
{% block page-title %}| Get started{% endblock %}

{% block content %}
    <section class="row">
        <div class="inner-wrapper">
            <div class="seven-col append-one">
                <h1>Get started</h1>
                <p>MAAS is a bare-metal provisioning tool built for the cloud age. It is open source and free to use. Follow the instructions below to download, configure and install MAAS.</p>
            </div>
            <div class="four-col last-col box">
                <h3>Talk to our experts</h3>
                <p>MAAS is supported by the cloud engineering experts at Canonical, the company behind Ubuntu.  Contact us for more information or to discuss your specific needs.</p>
                <p><a href="http://www.ubuntu.com/management/contact-us" class="external">Contact us</a></p>
            </div>
        </div>
    </section>
    <section class="clearfix instruction" id="download-help">
        <div class="inner-wrapper">
            <div class="five-col instruction__bullet">
                <div class="one-col">
                    <span class="instruction__step">1</span>
                </div>
                <div class="four-col last-col">
                    <h3 class="instruction__title">Install Ubuntu Server</h3>
                </div>
            </div>
            <div class="seven-col last-col instruction__details">
                <p>Download <a href="http://www.ubuntu.com/download/server" class="external">Ubuntu Server LTS</a> and follow the step-by-step.</p>
            </div>
        </div>
    </section>
    <section class="clearfix instruction" id="download-help">
        <div class="inner-wrapper">
            <div class="five-col instruction__bullet">
                <div class="one-col">
                    <span class="instruction__step">2</span>
                </div>
                <div class="four-col last-col">
                    <h3 class="instruction__title">Install MAAS</h3>
                </div>
            </div>
            <div class="seven-col last-col instruction__details">
                <p>From the command line type the commands below. Follow the step-by-step instructions to update relevant packages and install MAAS:</p>
                <p class="command-line" id="yui_3_15_0_2_1447251073897_64">
                    <input class="command-line__input" value="$ sudo apt-get updat" readonly="readonly">
                    <button class="js-copy-to-clipboard command-line__copy-button">Copy to clipboard</button>
                </p>
                <p class="command-line" id="yui_3_15_0_2_1447251073897_64">
                    <input class="command-line__input" value="$ sudo apt-get updat" readonly="readonly">
                    <button class="js-copy-to-clipboard command-line__copy-button">Copy to clipboard</button>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
