{% extends "base_index.html" %}

{% load get_rss_feed from feeds %}

{% block page_class %}homepage{% endblock %}
{% block page-title %}| Metal as a Service{% endblock %}
{% block head-extra %}
{% endblock %}

{% block content %}
	<!-- Hero banner -->
	<section class="row row-hero">
		<div class="inner-wrapper overflow-hidden">
			<div class="row-hero__text row-hero__col eight-col margin-top--30 padding-top--30">
				<h1>
					<img src="{{ ASSET_SERVER_URL }}33b96a7f-maas-logo.svg" alt="" class="row-hero__logo" itemprop="image" />Metal as a Service
					<br/>Say hello to your physical cloud</h1>
				<p class="intro padding-bottom--30" itemprop="description">Total automation of your physical servers for amazing data centre operational efficiency. On premise, open source and supported.</p>
				<p>
					<a href="/get-started" class="row-hero__cta button--primary" itemprop="url">Get started</a>
					<a class="row-hero__play venobox" data-type="youtube" data-autoplay="true" href="https://www.youtube.com/embed/J1XH0SQARgo">
						<img src="{{ ASSET_SERVER_URL }}9d9ceb09-video-play.svg" width="100" alt=""> Watch the video
					</a>
				</p>
			</div>
		</div>
	</section>

	<!-- Benifits of MAAS -->
	<section class="row">
		<div class="inner-wrapper">
			<div class="six-col">
				<ul class="list list__bullets list--large equal-height">
					<li>Zero-touch deployment of Windows, Ubuntu, CentOS, RHEL and SUSE</li>
					<li>Catalogs and manages every device in every registered server</li>
					<li>Inventory management of every device in every server</li>
					<li>Remote setup of NIC bonding and RAID storage</li>
					<li class="last-item">Open-source IP Address Manager (IPAM)</li>
				</ul>
			</div>
			<div class="six-col last-col">
				<ul class="list list__bullets list--large equal-height">
					<li>Automate everything from IPMI and PXE to fully converged chassis, including Cisco UCS, HP Moonshot and more</li>
					<li>Integrate with devops automation tools like Juju, Chef, Puppet, SALT, Ansible and more</li>
					<li>Automatically enable remote access through SSH and Powershell</li>
					<li>REST API, Web UI and CLI</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="row strip-white border--bottom">
		<div class="inner-wrapper">
			<div class="twelve-col">
				<img class="image--shadow"
					 src="{{ ASSET_SERVER_URL }}9d549659-homepage-ui.gif"
					 alt="MAAS Node listing">
			</div>
			<div class="twelve-col align-center">
				<p class="align-center">
					<a href="/tour" class="button--primary button--large" itemprop="url">Take the tour</a>
				</p>
			</div>
		</div>
	</section>
	<section class="row strip-white">
		<div class="inner-wrapper padding-top--30">
			<div class="six-col padding-bottom--30">
				<h2>The smartest way to manage
					<br /> bare metal</h2>
				<p>MAAS delivers the fastest OS installation times in the industry thanks to its optimised image-based installer. Setup the RAID and Network configuration you want through the MAAS web UI or CLI, then press a button and come back in minutes to a fully-deployed
					OS.
				</p>
				<p>MAAS is designed for devops at scale, in places where bare metal is the best way to run your app. Big data, private cloud, PAAS and HPC all thrive on MAAS.</p>
			</div>
			<div class="six-col last-col">
				<ul class="inline-logos">
					<li>
						<img src="{{ ASSET_SERVER_URL }}c037fd75-ubuntu-logo.png"  width="150" alt="Ubuntu logo">
					</li>
					<li>
						<img src="{{ ASSET_SERVER_URL }}30574235-windows-logo.svg" width="120" alt="Windows logo">
					</li>
					<li class="last-item">
						<img src="{{ ASSET_SERVER_URL }}c69a8b3c-centos-logo.png" width="150" alt="CentOS logo">
					</li>
					<li>
						<img src="{{ ASSET_SERVER_URL }}eda6b94a-redhat-logo.svg" width="140" alt="Redhat logo">
					</li>
					<li>
						<img src="{{ ASSET_SERVER_URL }}6697a21a-suse-logo.png" width="100" alt="Suse logo">
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="row strip-dark">
		<div class="inner-wrapper equal-height">
			<div class="seven-col">
				<ul class="inline-logos no-margin--bottom">
					<li>
						<img src="{{ ASSET_SERVER_URL }}b066f89f-ibm-logo.svg" width="100" alt="IBM logo">
					</li>
					<li>
						<img src="{{ ASSET_SERVER_URL }}94604e7b-lenovo.svg" width="140" alt="Lenovo logo">
					</li>
					<li>
						<img src="{{ ASSET_SERVER_URL }}46066f72-cisco-logo.svg" width="90" alt="Cisco logo">
					</li>
					<li>
						<img src="{{ ASSET_SERVER_URL }}6281079e-huawei.svg" alt="Huawei logo">
					</li>
					<li>
						<img src="{{ ASSET_SERVER_URL }}3e78e013-dell-logo.svg" alt="Dell logo">
					</li>
					<li>
						<img src="{{ ASSET_SERVER_URL }}17aa9d0e-hp-logo.svg" alt="HP logo">
					</li>
					<li>
						<img src="{{ ASSET_SERVER_URL }}3312c37a-quanta-logo.png" alt="Quanta logo">
					</li>
					<li>
						<img src="{{ ASSET_SERVER_URL }}30b27b28-open-logo.png" alt="Open compute logo">
					</li>
				</ul>
			</div>
			<div class="five-col last-col">
				<div class="align-vertically">
					<h2>Works on all your hardware</h2>
					<ul class="list__bullets">
						<li>Works on all certified servers from any major vendor</li>
						<li>Discovers servers in racks, chassis and data centre networks</li>
						<li>Supports major system BMCs and chassis controllers</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="row">
		<div class="inner-wrapper">
			<div class="twevle-col align-center">
				<h3 class="caps-centered">MAAS is used by</h3>
				<ul class="inline-logos">
					<li>
						<img src="{{ ASSET_SERVER_URL }}477b9b52-microsoft-logo.svg" alt="Microsoft logo" />
					</li>
					<li>
						<img src="{{ ASSET_SERVER_URL }}df4150e2-nec-logo.svg" alt="NEC logo" />
					</li>
					<li>
						<img src="{{ ASSET_SERVER_URL }}040783dd-verizon-logo.png" alt="Verizon logo" />
					</li>
					<li>
						<img src="{{ ASSET_SERVER_URL }}0f6861b9-oil-logo.png" alt="OpenStack Interoperability Lab">
					</li>
					<li>
						<img src="{{ ASSET_SERVER_URL }}3c7e83fc-atandt-logo.svg" alt="AT&amp;T logo" />
					</li>
					<li>
						<img src="{{ ASSET_SERVER_URL }}a8e8aa9e-deutschetelekom-logo.svg" alt="Deutche Telekom logo" />
					</li>
					<li class="last-item">
						<img src="{{ ASSET_SERVER_URL }}73135672-ntt-logo.svg" width="110" alt="NTT logo" />
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="row strip-white pricing">
		<div class="inner-wrapper">
			<div class="twelve-col">
				<h2>Pricing</h2>
				<p class="eight-col">MAAS is supported by Canonical under the <a href="http://www.ubuntu.com/management/ubuntu-advantage" class="external">Ubuntu Advantage</a> service program. Ubuntu Advantage MAAS includes tools that enable deployment of a wider range of operating systems,
					SLAs on support and high availability reference architectures.</p>
			</div>
			<div class="pricing twelve-col equal-height">
				<div class="pricing__option four-col">
					<h3 class="pricing__option-title">Self-supported</h3>
					<h4 class="pricing__option-cost">Free</h4>
					<div class="pricing__option-detail">
						<ul class="list__bullets">
							<li>Ubuntu, CentOS, custom images</li>
						</ul>
						<p><a href="/get-started">Get started&nbsp;&rsaquo;</a></p>
					</div>
				</div>
				<div class="pricing__option four-col">
					<h3 class="pricing__option-title">Professional</h3>
					<h4 class="pricing__option-cost">&dollar;5
						<span class="pricing__option-unit">/ per server per month</span>
					</h4>
					<div class="pricing__option-detail">
						<ul class="list__bullets">
							<li>All operating systems</li>
							<li>9 to 5 support on weekdays (US and Europe only)</li>
						</ul>
						<p><a href="/contact-us">Contact us&nbsp;&rsaquo;</a></p>
					</div>
				</div>
				<div class="pricing__option four-col last-col">
					<h3 class="pricing__option-title">Enterprise</h3>
					<h4 class="pricing__option-cost">&dollar;10
						<span class="pricing__option-unit">/ per server per month</span>
					</h4>
					<div class="pricing__option-detail">
						<ul class="list__bullets">
							<li>All operating systems</li>
							<li>24/7 support</li>
						</ul>
						<p><a href="/contact-us">Contact us&nbsp;&rsaquo;</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- News -->
	<section class="row">
		<div class="inner-wrapper">
			<div class="twelve-col">
				<h2>The latest MAAS news</h2>
			</div>
			<div id="insights-cloud-feed">
				<div class="equal-height vertical-divider twelve-col">
					{% get_rss_feed "https://insights.ubuntu.com/tag/maas/feed" limit=3 as insights_feed %}
					{% for item in insights_feed %}
						<article class="four-col {% if forloop.last %}last-col{% endif %}">
							<h3><a href="{{ item.link }}" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'insights', 'eventAction' : 'maas.io homepage news link', 'eventLabel' : '{{ item.title|escapejs }}', 'eventValue' : '{{ item.link }}' });">{{ item.title }}</a></h3>
							<footer>
								<time pubdate datetime="{{ item.updated }}">{{ item.updated_datetime|date:"j F Y" }}</time>
							</footer>
						</article>
					{% endfor %}
				</div>
			</div>
			<p><a href="http://insights.ubuntu.com/tag/maas" class="external">More MAAS news from Ubuntu Insights</a></p>
		</div>
	</section>
	{% endblock %}
