{% extends "base_index.html" %}

{% block page_class %}homepage{% endblock %}

{% block content %}
	<section class="row row-hero">
		<div class="inner-wrapper">
			<div class="seven-col">
				<h1><img src="/static/img/maas-logo.svg" alt="" class="homepage-logo" /> Metal as a Service</h1>
				<p class="intro">Get high performance bare metal computing with cloud efficiencies.</p>
				<p><a href="/take-a-tour" class="button--primary">Take a tour</a></p>
			</div>
		</div>
	</section>

	<section class="row">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <h2>The latest MAAS news</h2>
            </div>
			<div class="equal-height twelve-col">
				<article class="four-col">
					<h3>
						<a href="#" class="external">New features in MAAS 1.9</a>
					</h3>
					<footer>
						<time>16/11/2015</time>
					</footer>
				</article>
				<article class="four-col">
					<h3>
						<a href="#" class="external">PC Power Control with a Raspberry Pi and MAAS</a>
					</h3>
					<footer>
						<time>23/09/2015</time>
					</footer>
				</article>
				<article class="four-col last-col">
					<h3>
						<a href="http://insights.ubuntu.com/?s=maas" class="external">Read more MAAS news on Ubuntu insights</a>
					</h3>
					<footer>
						<time>10/10/2010</time>
					</footer>
				</article>
			</div>
        </div>
    </section>

	<section class="row strip-white">
		<div class="inner-wrapper">
	        <div class="video-container">
	            <iframe width="906" height="500" src="https://www.youtube.com/embed/J1XH0SQARgo?autoplay=0&showinfo=0&controls=0&rel=0&amp;&amp;hd=1" frameborder="0" allowfullscreen=""></iframe>
	        </div>
		</div>
	</section>

	<section class="row">
		<div class="inner-wrapper">
			<div class="twelve-col">
				<h2>Bring cloud-style automation  to your physical servers and improve operational efficiency</h2>
			</div>
			<div class="six-col">
				<ul>
					<li>Configure, deploy and assign bare-metal machines without any manual intervention</li>
					<li>Track all your infrastructure, from servers to storage to networking</li>
					<li>Provision incredibly fast, make your nodes available in minutes</li>
					<li>Configure authentication credentials for remote access through SSH and Powershell</li>
				</ul>
			</div>
			<div class="six-col last-col">
				<ul>
					<li>Automate your infrastructure, from legacy IPMI and PXE to converged UCS</li>
					<li>Integrate with your DevOps automation tools, like Juju, Chef and more</li>
					<li>MAAS is the leading open-source IPAM</li>
					<li>Includes a RESTful API, Web UI and command-line client</li>
				</ul>
			</div>
			<div class="twelve-col no-margin--bottom">
				<img src="http://placehold.it/1200x500" class="touch-border" alt="">
			</div>
		</div>
	</section>

	<section class="row strip-white">
		<div class="inner-wrapper">
			<div class="four-col">
				<h2>Works on all your hardware</h2>
				<ul>
					<li>Works on all certified servers from any major vendor</li>
					<li>Discovers servers in racks, chassis and data centre networks</li>
					<li>Supports all major system BMCs and chassis controllers</li>
				</ul>
			</div>
			<div class="eight-col last-col">
				<ul class="inline-logos">
					<li>
						<img src="http://placehold.it/175x50" alt="">
					</li>
					<li>
						<img src="http://placehold.it/175x50" alt="">
					</li>
					<li class="last-item">
						<img src="http://placehold.it/175x50" alt="">
					</li>
					<li>
						<img src="http://placehold.it/175x50" alt="">
					</li>
					<li>
						<img src="http://placehold.it/175x50" alt="">
					</li>
					<li class="last-item">
						<img src="http://placehold.it/175x50" alt="">
					</li>
					<li>
						<img src="http://placehold.it/175x50" alt="">
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="row">
		<div class="inner-wrapper">
			<div class="twelve-col">
				<h2>The fastest way to deploy any OS</h2>
			</div>
			<div class="eight-col">
				<p>MAAS sports the fastest installation times in the industry thanks to its image-based installer optimised for SSDs and high-performance HDDs.</p>
			</div>
			<div class="twelve-col">
				<ul class="inline-logos">
					<li>
						<img src="http://placehold.it/225x225" alt="">
					</li>
					<li>
						<img src="http://placehold.it/225x225" alt="">
					</li>
					<li class="last-item">
						<img src="http://placehold.it/225x225" alt="">
					</li>
					<li>
						<img src="http://placehold.it/225x225" alt="">
					</li>
					<li>
						<img src="http://placehold.it/225x225" alt="">
					</li>
					<li class="last-item">
						<img src="http://placehold.it/225x225" alt="">
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="row strip-white">
		<div class="inner-wrapper">
			<div class="twevle-col align-center">
				<h2>Used by</h2>
			</div>
			<div class="twelve-col">
				<ul class="inline-logos">
					<li>
						<img src="http://placehold.it/225x225" alt="" />
					</li>
					<li>
						<img src="http://placehold.it/225x225" alt="" />
					</li>
					<li class="last-item">
						<img src="http://placehold.it/225x225" alt="" />
					</li>
					<li>
						<img src="http://placehold.it/225x225" alt="" />
					</li>
					<li>
						<img src="http://placehold.it/225x225" alt="" />
					</li>
					<li class="last-item">
						<img src="http://placehold.it/225x225" alt="" />
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="row maas-pricing">
		<div class="inner-wrapper">
			<div class="twelve-col">
				<h2>Pricing</h2>
				<p class="eight-col">MAAS is part of the Ubuntu Advantage service package, delivered by Canonical. The package includes a wider range of available operating systems, commercial support, high availability, and custom engineering.</p>
			</div>
			<div class="twelve-col equal-height">
				<div class="four-col box align-center">
			        <h3>Self-supported</h3>
			        <h2>Free</h2>
					<p>Ubuntu, CentOS</p>
					<a href="/get-started" class="button--primary">Get started</a>
			    </div>
				<div class="four-col box align-center">
					<h3>Professional</h3>
					<h2>&dollar;5/month</h2>
					<p>All operating systems 9x5 weekdays support (US &amp; Europe only)</p>
					<a href="http://www.ubuntu.com/management/contact-us" class="external">Contact us</a>
				</div>
				<div class="four-col last-col box align-center">
					<h3>Enterprise</h3>
					<h2>&dollar;10/month</h2>
					<p>All operating systems 24/7 support High availability included</p>
					<a href="http://www.ubuntu.com/management/contact-us" class="external">Contact us</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
