{% extends "base_index.html" %}

{% block content %}
	<div class="row row-hero">
		<div class="inner-wrapper">
			<div class="seven-col">
				<h1>Metal as a Service</h1>
				<p>Metal as a Service (MAAS) brings the language of the cloud to physical servers. It makes it easy to set up the hardware on which to deploy any service that needs to scale up and down dynamically; a cloud being just one example.</p>
				<p><a href="/get-started" class="button--primary">Get started</a></p>
			</div>
			<div class="five-col">

			</div>
		</div>
	</div>
{% endblock %}