{% extends "base_index.html" %}

{% block page_class %}homepage{% endblock %}
{% block page-title %}| Home{% endblock %}

{% block content %}
    <section class="row strip-white">
        <div class="inner-wrapper">
            <div class="eight-col">
                <h1>Thanks for contacting us about Ubuntu Advantage</h1>
                <h2>A member of our team will be in touch shortly.</h2>
                <p>If you are stuck, help is always at hand.  Reach out to the MAAS community to <a href="http://askubuntu.com" class="external">ask a question on askubuntu</a>, <a href="http://www.ubuntu.com/support" class="external">join a forum</a> or take a look at the <a href="http://maas.ubuntu.com/docs" class="external">documentation</a>.</p>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <h2>Your next steps with MAAS</h2>
            </div>
            <div class="equal-height vertical-divider">
                <div class="four-col">
                    <h3>Landscape</h3>
                    <p>Maintain your MAAS provisioned hardware with  Landscape and automate updates and security patches across your infrastructure.</p>
                    <p><a href="http://www.ubuntu.com/management/landscape-features" class="external">Learn more about Landscape</a></p>
                </div>
                <div class="four-col">
                    <h3>OpenStack Autopilot</h3>
                    <p>Build your own private cloud using MAAS with OpenStack Autopilot. The fastest and easiest way to build a cloud from the bare metal up.</p>
                    <p><a href="http://www.ubuntu.com/cloud/openstack/autopilot" class="external">Learn more about Autopilot</a></p>
                </div>
                <div class="four-col last-col">
                    <h3>Juju</h3>
                    <p>Deploy services directly to your MAAS cluster with Juju.  The service orchestration tool that enables you to  model, configure, deploy with only a few commands.</p>
                    <p><a href="http://www.ubuntu.com/cloud/tools/juju" class="external">Learn more about Juju</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
