{% extends "base_index.html" %}

{% block page_class %}homepage{% endblock %}
{% block page-title %}| Thank you{% endblock %}

{% block content %}
<section class="p-strip is-deep">
        <div class="row u-equal-height">
            <div class="col-7">
                <h1>Thanks for contacting us about Ubuntu Advantage</h1>
                <h2>A member of our team will be in touch shortly.</h2>
                <p>If you are stuck, help is always at hand.  Reach out to the MAAS community to <a href="http://askubuntu.com" class="p-link-external">ask a question on askubuntu</a>, <a href="http://www.ubuntu.com/support" class="p-link-external">join a forum</a> or <a href="http://docs.ubuntu.com/maas/" class="p-link-external">take a look at the documentation</a>.</p>
            </div>
            <div class="col-5 prefix-1 u-vertically-center">
                <img src="{{ ASSET_SERVER_URL }}b3a28549-picto-thankyou-orange.svg" width="160" alt="Thank you" />
            </div>
        </div>
    </section>
    <section class="p-strip--light is-deep">
        <div class="row">
            <div class="col-12">
                <h2>Your next steps with MAAS</h2>
            </div>
            <div class="u-equal-height  p-divider">
                <div class="col-4 p-divider__block">
                    <h3>Landscape</h3>
                    <p>Maintain your MAAS provisioned hardware with  Landscape and automate updates and security patches across your infrastructure.</p>
                    <p><a href="http://www.ubuntu.com/management/landscape-features" class="p-link-external">Learn more about Landscape</a></p>
                </div>
                <div class="col-4 p-divider__block">
                    <h3>OpenStack Autopilot</h3>
                    <p>Build your own private cloud using MAAS with OpenStack Autopilot. The fastest and easiest way to build a cloud from the bare metal up.</p>
                    <p><a href="http://www.ubuntu.com/cloud/openstack/autopilot" class="p-link-external">Learn more about Autopilot</a></p>
                </div>
                <div class="col-4 p-divider__block">
                    <h3>Juju</h3>
                    <p>Deploy services directly to your MAAS cluster with Juju.  The service orchestration tool that enables you to  model, configure, deploy with only a few commands.</p>
                    <p><a href="http://www.ubuntu.com/cloud/tools/juju" class="p-link-external">Learn more about Juju</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
