{% extends "base_index.html" %}

{% block page_class %}tour{% endblock %}
{% block page-title %}| Tour{% endblock %}

{% block content %}
    <section class="row strip-white">
        <div class="inner-wrapper">
            <div class="eight-col">
                <h1>Take a tour</h1>
                <p>MAAS is accessible through both a webUI and the CLI, and has a restful API as well. Take a tour to see all MAAS features, including new features in the MAAS 1.9 release.</p>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <h2>Discovery and node listing</h2>
            </div>
            <div class="twelve-col">
                <img src="/static/media/screen-grabs/tour/discovery.png" class="image--shadow" alt="">
            </div>
            <div class="four-col">
                <div class="four-col">
                    <h2>Take action</h2>
                </div>
                <img src="/static/media/screen-grabs/tour/take-action.png" class="image--shadow" alt="">
            </div>
            <div class="eight-col last-col">
                <div class="eight-col">
                    <h2>Deploy OS</h2>
                </div>
                <img src="/static/media/screen-grabs/tour/deploy.png" class="image--shadow" alt="">
            </div>
        </div>
    </section>
    <section class="row strip-white">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <h2>Node details</h2>
            </div>
            <div class="twelve-col">
                <img src="/static/media/screen-grabs/tour/node-details.png" class="image--shadow" alt="">
            </div>
            <div class="twelve-col">
                <h2>Configure node interfaces</h2>
            </div>
            <div class="twelve-col">
                <img src="/static/media/screen-grabs/tour/configure-network.png" class="image--shadow" alt="">
            </div>
            <div class="twelve-col">
                <h2>Configure node storage devices</h2>
            </div>
            <div class="twelve-col">
                <img src="/static/media/screen-grabs/tour/configure-nodes.png" class="image--shadow" alt="">
            </div>
            <div class="six-col">
                <div class="six-col">
                    <h2>Machine event log</h2>
                </div>
                <img src="/static/media/screen-grabs/tour/machine-log.png" class="image--shadow" alt="">
            </div>
            <div class="six-col last-col">
                <div class="six-col">
                    <h2>Commissioning output</h2>
                </div>
                <img src="/static/media/screen-grabs/tour/commissioning-output.png" class="image--shadow" alt="">
            </div>
        </div>
    </section>
    <section class="row">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <h2>Subnets</h2>
            </div>
            <div class="twelve-col">
                <img src="/static/media/screen-grabs/tour/subnets.png" class="image--shadow" alt="">
            </div>
            <div class="twelve-col align-center">
				<p class="align-center">
					<a href="/get-started" class="button--primary button--large">Get started</a>
				</p>
			</div>
        </div>
    </section>
{% endblock %}
