{% extends "base_index.html" %}

{% block page_class %}tour{% endblock %}
{% block page-title %}| Tour{% endblock %}

{% block content %}
    <section class="row strip-white">
        <div class="inner-wrapper">
            <div class="eight-col">
                <h1>Take a tour</h1>
                <p itemprop="description">MAAS is accessible through both a webUI and the CLI, and has a restful API as well. Take a tour to see all MAAS features, including new features in the MAAS 1.9 release.</p>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <h2>Discovery and node listing</h2>
            </div>
            <div class="twelve-col">
                <img src="https://assets.ubuntu.com/v1/94f99eb3-discovery.png"
                     srcset="
                         https://assets.ubuntu.com/v1/94f99eb3-discovery.png?w=1120  1120w,
                         https://assets.ubuntu.com/v1/94f99eb3-discovery.png?w=720 720w,
                         https://assets.ubuntu.com/v1/94f99eb3-discovery.png?w=400  400w"
                 class="image--shadow" alt="">
            </div>
            <div class="four-col">
                <div class="four-col">
                    <h2>Take action</h2>
                </div>
                <img src="https://assets.ubuntu.com/v1/5ff31aae-take-action.png" class="image--shadow" alt="">
            </div>
            <div class="eight-col last-col">
                <div class="eight-col">
                    <h2>Deploy OS</h2>
                </div>
                <img src="https://assets.ubuntu.com/v1/d9821067-deploy.png"
                     srcset="
                         https://assets.ubuntu.com/v1/d9821067-deploy.png?w=1120  1120w,
                         https://assets.ubuntu.com/v1/d9821067-deploy.png?w=720 720w,
                         https://assets.ubuntu.com/v1/d9821067-deploy.png?w=400  400w"
                 class="image--shadow" alt="">
            </div>
        </div>
    </section>
    <section class="row strip-white">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <h2>Node details</h2>
            </div>
            <div class="twelve-col">
                <img src="https://assets.ubuntu.com/v1/05860d52-node-details.png"
                     srcset="
                         https://assets.ubuntu.com/v1/05860d52-node-details.png?w=1120  1120w,
                         https://assets.ubuntu.com/v1/05860d52-node-details.png?w=720 720w,
                         https://assets.ubuntu.com/v1/05860d52-node-details.png?w=400  400w"
                 class="image--shadow" alt="">
            </div>
            <div class="twelve-col">
                <h2>Configure node interfaces</h2>
            </div>
            <div class="twelve-col">
                <img src="https://assets.ubuntu.com/v1/46b2f9a8-configure-network.png"
                     srcset="
                         https://assets.ubuntu.com/v1/46b2f9a8-configure-network.png?w=1120  1120w,
                         https://assets.ubuntu.com/v1/46b2f9a8-configure-network.png?w=720 720w,
                         https://assets.ubuntu.com/v1/46b2f9a8-configure-network.png?w=400  400w"
                 class="image--shadow" alt="">
            </div>
            <div class="twelve-col">
                <h2>Configure node storage devices</h2>
            </div>
            <div class="twelve-col">
                <img src="https://assets.ubuntu.com/v1/fe38f566-configure-nodes.png"
                     srcset="
                         https://assets.ubuntu.com/v1/fe38f566-configure-nodes.png?w=1120  1120w,
                         https://assets.ubuntu.com/v1/fe38f566-configure-nodes.png?w=720 720w,
                         https://assets.ubuntu.com/v1/fe38f566-configure-nodes.png?w=400  400w"
                 class="image--shadow" alt="">
            </div>
            <div class="six-col">
                <div class="six-col">
                    <h2>Machine event log</h2>
                </div>
                <img src="https://assets.ubuntu.com/v1/986d365b-machine-log.png"
                     srcset="
                         https://assets.ubuntu.com/v1/986d365b-machine-log.png?w=1120  1120w,
                         https://assets.ubuntu.com/v1/986d365b-machine-log.png?w=720 720w,
                         https://assets.ubuntu.com/v1/986d365b-machine-log.png?w=400  400w"
                 class="image--shadow" alt="">
            </div>
            <div class="six-col last-col">
                <div class="six-col">
                    <h2>Commissioning output</h2>
                </div>
                <img src="https://assets.ubuntu.com/v1/ced5f5cf-commissioning-output.png"
                     srcset="
                         https://assets.ubuntu.com/v1/ced5f5cf-commissioning-output.png?w=1120  1120w,
                         https://assets.ubuntu.com/v1/ced5f5cf-commissioning-output.png?w=720 720w,
                         https://assets.ubuntu.com/v1/ced5f5cf-commissioning-output.png?w=400  400w"
                 class="image--shadow" alt="">
            </div>
        </div>
    </section>
    <section class="row">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <h2>Subnets</h2>
            </div>
            <div class="twelve-col">
                <img src="https://assets.ubuntu.com/v1/d75c6d99-subnets.png"
                     srcset="
                         https://assets.ubuntu.com/v1/d75c6d99-subnets.png?w=1120  1120w,
                         https://assets.ubuntu.com/v1/d75c6d99-subnets.png?w=720 720w,
                         https://assets.ubuntu.com/v1/d75c6d99-subnets.png?w=400  400w"
                 class="image--shadow" alt="">
            </div>
            <div class="twelve-col align-center">
				<p class="align-center">
					<a href="/get-started" class="button--primary button--large">Get started</a>
				</p>
			</div>
        </div>
    </section>
{% endblock %}
