{% extends "base_index.html" %}

{% block page_class %}tour{% endblock %}
{% block page-title %}| Tour{% endblock %}

{% block content %}
    <section class="row strip-white">
        <div class="inner-wrapper">
            <div class="eight-col push-two align-center">
                <h1>Take a tour</h1>
                <p>MAAS is accessible through both a webUI and the CLI, and has a restful API as well. Take a tour to see all MAAS features, including new features in the MAAS 1.9 release.</p>
            </div>
        </div>
    </section>
{% endblock %}
