{% extends "base_index.html" %}

{% block page_title %}| Register to download the ESXi packer-template{% endblock %}


{% block content %}
<section class="p-strip--image is-dark is-shallow" style="overflow: hidden; background-color: #333; background-image:url('https://assets.ubuntu.com/v1/6e4b2b20-MAAS-hero-background.png')">
  <div class="row">
    <div class="col-6">
      <h2>Register to download the ESXi packer-template</h2>
      <p>
        We&rsquo;ll help you get the best from this new feature of MAAS.<br>
        Let us know how we should get in touch.
      </p>
    </div>
  </div>
</section>
<section class="p-strip">
  <div class="modal" id="esxi-modal">
    <div class="modal__overlay">
      <div class="row model-form">
        <div class="col-6">
          <form action="https://ubuntu.com/marketo/submit" method="post" class="mktoForm_3392 p-form">
            <div class="p-form__group">
              <label for="firstName" class="p-form__label" >First Name:</label>
              <div class="p-form__control">
                <input required id="firstName" name="firstName" maxlength="255" type="text">
              </div>
            </div>
            <div class="p-form__group">
              <label for="lastName" class="p-form__label">Last Name:</label>
              <div class="p-form__control">
                <input required id="lastName" name="lastName" maxlength="255" type="text">
              </div>
            </div>
            <div class="p-form__group">
              <label for="email" class="p-form__label" >Email Address:</label>
              <div class="p-form__control">
                <input required id="email" name="email" maxlength="255" type="email" >
              </div>
            </div>
            <div class="p-form__group">
              <input name="Marketing_opt_in__c" id="Marketing_opt_in__c" type="checkbox" value="yes">
              <label for="Marketing_opt_in__c" class="p-form__label" >I agree to receive information about Canonical's products and services. (Optional)</label>
              <label for="Marketing_opt_in__c"></label>
            </div>
            <div class="p-form__group">
              <input required  name="Consent_to_Processing__c" id="Consent_to_Processing__c" type="checkbox" value="yes">
              <label for="Consent_to_Processing__c" class="p-form__label" >I agree to be contacted by Canonical about my experience with ESXi images in MAAS.</label>
              <label for="Consent_to_Processing__c"></label>
            </div>
            <p>In submitting this form, I confirm that I have read and agree to <a href="https://www.ubuntu.com/legal/data-privacy">Canonical&rsquo;s Privacy Notice</a> and <a href="https://www.ubuntu.com/legal/data-privacy/esxi">Privacy Policy</a>.
            <div class="p-form__group">
              <button type="submit" class="p-button--positive">Download template</button>
            </div>
            <input type="hidden" name="formid" value="3392">
            <input type="hidden" name="returnURL" value="https://github.com/canonical/packer-maas/archive/1.0.3.tar.gz">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row modal-success u-hide">
    <div class="col-12">
      <h2>Thank you for registering</h2>
      <p>
        <strong>Your download should start automatically</strong>.<br>
        Problems? <a href="https://github.com/canonical/packer-maas/archive/1.0.3.tar.gz">Download 'ESXi.iso.packer.template'</a>.
      </p>
    </div>
  </div>
</section>
<hr />

  <script src="https://assets.ubuntu.com/v1/4176b39e-serialize.js"></script>
  <script src="https://assets.ubuntu.com/v1/ec520d10-XMLHttpRequest.min.js"></script>
  <script src="https://assets.ubuntu.com/v1/6b7597df-event-listener-polyfill.js"></script>
  <script>
    var backgroundSubmitHandlerClosure2 = function(event) {
      event.preventDefault();
      var marketoForm = form;
      form.action = "https://ubuntu.com/marketo/submit";
      backgroundSubmit2(marketoForm);
    }

    var backgroundSubmit2 = function(marketoForm) {
      var request = new XMLHttpRequest();
      var submitUrl = marketoForm.getAttribute('action');
      var formData = serialize(marketoForm);
      request.open("POST", submitUrl, true);

      //Send the proper header information along with the request
      request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

      // Send off the POST request
      request.send(formData);

      request.addEventListener("readystatechange", function() {
        if (this.readyState === 4) {
          showSuccessMessage2();
        }
      });

      // get the download asset if it exists
      var download_asset_url = marketoForm.querySelector('input[name=download_asset_url]');
      if (download_asset_url != null) {
        download_asset_url = download_asset_url.value;
      }

      // deal with the post submit actions
      afterSubmit(download_asset_url);
    }

    /**
    * After submit has happened
    * start download and send the user to the instructions page
    */
    var afterSubmit = function(download_asset_url) {
      // Now start the download
      if (download_asset_url) {
        var downloadLink = document.createElement("a");
        downloadLink.style.display = "none";
        document.body.appendChild(downloadLink);
        downloadLink.href = download_asset_url;
        downloadLink.setAttribute("download", download_asset_url);
        downloadLink.setAttribute("target", "_blank");
        downloadLink.click();
        document.body.removeChild(downloadLink);
      }
    }

    // attach handler to all forms
    var form = document.querySelector(".mktoForm_3392");
    form.addEventListener('submit', backgroundSubmitHandlerClosure2);

    function showSuccessMessage2() {
      document.querySelector(".modal-success").classList.remove("u-hide");
      document.querySelector("#esxi-modal").classList.add("u-hide");
    }
  </script>
  {% endblock %}
