////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

////
/// MAAS Website styles
///
/// Navigation
///
/// @variables
/// @base styles
/// @header
/// @footer
/// @homepage
/// @misc
///
////

@import '../../node_modules/cloud-vanilla-theme/scss/build';
@include cloud-vanilla-theme;

/// @varibles

$ubuntu-orange: #dd4814;

/// @base styles
//

body {
  font-size: 16px;
}

a:link,
a:visited {
  color: $button-primary-color;
}

a.button--primary:link,
a.button--primary:visited {
  color: $white;
}

pre {
  color: $white;
}

// Row styles

@media only screen and (max-width : 768px) {
  .row-hero {
    padding-top: 20px;
    margin-top: 0;
  }

  footer.global {
    padding-top: 0;
  }
  .row {
    padding-bottom: 20px;
  }
}

.strip-trans {
  background: transparent;
}


/// @header
//
// Main navigation styles

.banner {
  background: $black;
  border-bottom: 0;
  box-shadow: 0;

  @media only screen and (min-width: $navigation-threshold) {
    border-bottom: 0;
    box-shadow: none;
  }

  .nav-primary {

    @media only screen and (min-width: $navigation-threshold) {
      width: auto;
    }

    ul {

      @media only screen and (min-width: $navigation-threshold) {
        border-top: 0;
        border-right: 0;
        box-shadow: none;
      }

      li {

        @media only screen and (min-width: $navigation-threshold) {
          width: auto;
          border-right: 0;
          border-bottom: 0;
          border-left: 1px solid $cool-grey;

          &:last-child {
            border-right: 1px solid $cool-grey;
            border-left: 1px solid $cool-grey;

            a {
              border-right: 0;
            }
          }
        }

        @media only screen and (max-width: $navigation-threshold) {
          &:nth-child(2n+2) {
            border-right: 0;
          }
        }

        a,
        a:link,
        a:visited {

          @media only screen and (min-width: $navigation-threshold) {
            border-left: 0;
            color: $white;
          }
        }
      }
    }
  }
}


/// @homepage
//
// Specific home page styles

.homepage {

  .banner {
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  }
  .row-hero {
    padding-bottom: 30px;
    overflow-y: hidden;
    min-height: 250px;
    margin-top: 0;
    color: $white;
    // background: url('../media/background-header-home.png') 0 0 repeat $white;
    background: -webkit-linear-gradient(45deg, #260e1e 0%,#f57453 100%);
		background:    -moz-linear-gradient(45deg, #260e1e 0%,#f57453 100%);
		background:      -o-linear-gradient(45deg, #260e1e 0%,#f57453 100%);
    box-shadow: inset 0 -1px 5px rgba(0,0,0,0.4);

    .inner-wrapper {
      height: 100%;
      max-width: inherit;
      position: relative;
    }

    @media only screen and (min-width : 768px) {
      height: 720px;
    }

    .row-hero__text {
      color: $white;
      @media only screen and (min-width : 768px) {
        position: relative;
        left: 60px;
        top: 50%;
        width: 50%;
      }

      .row-hero__intro {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

    .row-hero__image {
      max-width: 768px;
      width: 100%;
      bottom: -50px;
      right: 20px;
      position: absolute;
      z-index: 1;
      border-radius: 4px 4px 0 0;
      box-shadow: 0px 1px 12px rgba(0,0,0,0.15);

      &.row-hero__image--alt {
        right: 120px;
        z-index: 0;
        max-width: 960px;
      }
    }
  }

  .homepage-logo {
    padding-top: 20px;
    width: 2em;
    height: 2em;
    position: relative;
    top: -.1em;
    @media only screen and (min-width : 768px) {
      padding-top: 0;
      width: 1em;
      height: 1em;
    }
  }

  @media only screen and (min-width : 768px) {
    .homepage-logo {
      vertical-align: middle;
      display: inline;
      margin: 0;
    }
  }

  .pricing {

    .box {
      background-color: #f8f8f9;
      padding-top: 40px;
      padding-bottom: 40px;
      transition: all .2s ease-in-out;

      &:hover {
        z-index: 1000;
        background-color: #FDFDFD;
        box-shadow: 0 1px 6px rgba(0,0,0,0.075);
      }
    }
  }
}


/// @footer
//
// MAAS footer styles

.footer {
  background-color: $white;
  padding-top: 60px;

  h3,
  p {
    color: $warm-grey;
  }

  .footer__link {
    color: $cool-grey;

    &:hover {
      color: $ubuntu-orange;
    }

    &.footer__link--alt {
      color: $ubuntu-orange;
    }
  }

  .footer__legal {
    float: left;
    width: 100%;
    border-top: 1px dotted #EEE;
    padding-top: 20px;
    background: url('../media/logos/logo-ubuntu-grey.png') 100% 20px no-repeat;

    p {
      color: $warm-grey;
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  .footer__bullets {

    li {
      margin-right: 0;

      .footer__link {
        color: $warm-grey;
      }

      &:after {
        line-height: 1;
        color: $warm-grey;
        content: "•";
        vertical-align: middle;
        margin: 0 5px
      }

      &:last-child:after {
        content: '';
      }
    }
  }
}

/// @Getting-started
//
//  Instruction styles for the getting started page

.instruction {
  padding: 0;
  position: relative;
  width: 100%;
  border-bottom: 1px dotted #DDD;

  .instruction__bullet,
  .instruction__details {
    padding: 60px 40px;
    margin-bottom: 0;
  }

  .instruction__bullet {
    margin-right: 0;
  }

  .instruction__step {
    $size: 50px;
    display: inline-block;
    border-radius: 50%;
    width: $size;
    height: $size;
    line-height: $size;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    vertical-align: top;
    font-size: 2em;
    font-weight: 400;
  }

  .instruction__title {
    display: inline;
    position: relative;
    top: 6px;
    line-height: 1.6;
  }
}

/// @docs
//
// Documentation styles

.jujudocs {
  background-color: #fff;

  .jujudocs-nav {
    padding-bottom: 0;

    @media only screen and (max-width : 769px) {
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 0;
      margin-bottom: $gutter_width;
    }

    .jujudocs-menu {
        margin-left: -20px;
        margin-right: -20px;
    }

    .expanded {
      h4 {
        background: url("../img/icons/chevron-up.svg") no-repeat right center;
        background-position: right 20px center;
        cursor: pointer;
        color: $cool_grey;
      }

      span.toggle-target:after {
        content: '\2212';  // Hex for the 'minus' character.
      }
    }

    .collapsed {
      h4 {
        background: url("../img/icons/chevron-down.svg") no-repeat right center;
        background-position: right 20px center;
        cursor: pointer;
        color: $warm_grey;
      }

      span.toggle-target:after {
        content: '+';
      }
    }

    span.toggle-target {
      float: right;
      cursor: pointer;
      margin-right: 10px;
      width: 20px;
      text-align: center;
      color: $cool_grey;
      transition: 0.5s ease;
      border: 1px solid $white;

      &:hover {
          border: 1px solid $cool-grey;
      }
    }

    h4 {
      $height: 40px;
      height: $height;
      border-top: 1px dotted $cool-grey;
      margin: 0;
      padding: 0 20px;
      line-height: $height;
    }

    ul {
      $gutter: 20px;
      $selected_border_width: 3px;

      list-style: none;
      margin: 0;
      padding-bottom: 1em;

      li {
        margin: 0;

        a {
          display: block;
          padding: 0.1em 0  0.1em $gutter;
          margin-right: $gutter + 10px;

          &.selected {
            border-left: 3px solid $ubuntu-orange;
            // Take into account the left border.
            padding-left: $gutter - 1px;
            color: $cool-grey;
          }
        }

        > ul {
          padding: 0;
        }
      }

      .sub {
        $gutter: $gutter + 10;

        a {
          padding-left: $gutter;

          &.selected {
            // Take into account the left border.
            padding-left: $gutter - $selected_border_width;
          }
        }
      }
    }

    // Top level sections get bottom padding.
    .section {
      padding: 0 0 20px;

      // Subsections & collapsed sections get no padding.
      &.collapsed, .section {
        padding: 0;
      }
    }

    .search-form {
      border-radius: 3px;
      position: relative;
      width: 100%;
      margin: 0 0 10px 0;

      input[type="text"] {
        box-shadow: none;
        height: 40px;
        border: 1px solid $cool-grey;
        padding-left: 35px;

        &:focus {
          border: 1px solid #9D9C9A;
          outline: none;
        }
      }

      button[type="submit"] {
        position: absolute;
        top: 5px;
        left: 5px;
        height: 30px;
        width: 30px;
        padding: 0;
        line-height: 0;
        -webkit-appearance: none;
        display: block;
        background: transparent;
        background-image: url("../img/icons/search_16.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px;
        text-indent: -9999px;
      }
    }

    .versions-nav {
      padding-bottom: 1em;
      font-size: 12px;

      .unavailable {
        text-decoration: line-through;
        color: $warm-grey;
      }

      .label {
        display: block;
        margin-bottom: .5em;
      }

      ul {
        display: inline;

        li {
          font-size: 12px;
          display: inline-block;
          margin-right: .3em;

          a {
            padding: 0;
            margin: 0;
          }
        }
      }

      .stable {
        padding-left: .5em;
        border-left: 1px solid $cool-grey;
      }
    }
  }

  .note {
    padding: 20px;
    background-color: #fdf6e7;
    border: 1px solid #eca918;
    border-radius: 2px;
    color: inherit;
  }

  .jujudocs-content {
    padding-left: 30px;

    h1 {
      margin-top: 0.5em;
    }

    h2 {
    }

    iframe {
      margin: 0.25em 0 1em 0;
      width: 100%;
    }

    dl+h2 {
      margin-top: .563em;
    }

    dl+p {
      margin-top: .75em;
    }

    dt {
      margin: 1em 0 0.5em;
    }

    pre {
      background-color: $cool-grey;
      border: none;
      color: $mid-grey;

      code {
        margin-bottom: 0;
        color: $mid-grey;
      }
    }
  }

  .archived-warning {
    padding-left: 30px;
  }
}

/// @misc
//
// Generic styles for the MAAS website, to be imported into Cloud / Vanilla


// No padding

.no-padding {
  padding: 0;

  &--left {
    padding-left: 0;
  }

  &--right {
    padding-right: 0;
  }

  &--bottom {
    padding-bottom: 0;
  }
}

// No margin

.no-margin {
  margin: 0;

  &--bottom {
    margin-bottom: 0;
  }
}

// Image touch border

.touch-border {
  float: left;
  margin-bottom: -40px;
}

// Box styles

.box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 1.333em 20px;
  border: 1px solid #dfdcd9;
}

// Equal height

.equal-height {

  > article {
    box-sizing: border-box;
    display: flex;
    flex: auto;
    flex-direction: column;
  }
}

// inline logos

.inline-logos {

  li {

    img {
      max-height: inherit;
    }
  }
}

// vertically alignment

.align-vertically {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// vertical divider

.vertical-divider {
  position: relative;

  > article {
    padding-left: ($gutter-width / 2);
    padding-right: ($gutter-width / 2);

    &:before {
      content: '';
      position: absolute;
      right: -($gutter-width / 2);
      top: 0;
      height: 100%;
      width: 1px;
      border-left: 1px dotted $warm-grey;
    }
  }

  > article:last-of-type{
    padding-right: 0;

    &:before {
      border-left: 0;
    }
  }

  > article:first-of-type {
    padding-left: 0;
  }
}
