@import '../../node_modules/cloud-vanilla-theme/scss/theme';
@include cloud-vanilla-theme;

.homepage {

  .banner,
  .banner .nav-primary {
    box-shadow: none;
  }

  .row-hero {
    background-image: url('../img/hero-background.jpg');
    background-position: center;
    padding-bottom: 30px;
    @media only screen and (min-width : 768px) {
      height: 520px;
    }
    min-height: 250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin-top: 0;

    .intro {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .homepage-logo {
    padding-top: 20px;
    width: 2em;
    height: 2em;
    position: relative;
    top: -.1em;
    @media only screen and (min-width : 768px) {
      padding-top: 0;
      width: 1em;
      height: 1em;
    }
  }

  @media only screen and (min-width : 768px) {
    .homepage-logo {
      vertical-align: middle;
      display: inline;
      margin: 0;
    }
  }

  .row-why-use-maas .why__icon {
    margin-bottom: 1em;
  }

  .small {
    font-size: 14px;
  }
}

.get-started-page {
  .numbered-step {
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
    background: $white;
    border-radius: 50%;
    padding: .3em .68em;
    display: inline-block;
    color: $button-primary-color;
    margin-right: .34375em;
    margin-bottom: .625em;
  }
}

$folds-color: #5e66b4;

.about-page {
  .banner,
  .banner .nav-primary {
    box-shadow: none;
  }
  .row-hero {
    background-image: url('../img/hero-about-background.jpg');
    background-position: center;
    padding-bottom: 30px;
    @media only screen and (min-width : 768px) {
      height: 420px;
    }
    min-height: 250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin-top: 0;

    .intro {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  .row-features {
    @media only screen and (min-width : 768px) {
      background-image: url('../img/folds.png') ;
    }
    background-repeat: no-repeat;
    background-color: $folds-color;
    background-size: contain;
    color: $white;
    box-shadow: inset 0 4px 6px -4px rgba(0, 0, 0, 0.4), inset 0 -4px 6px -4px rgba(0, 0, 0, 0.4);

    .list li {
      padding-top: 20px;
      padding-bottom: 20px;
      border-color: rgba(255, 255, 255, .5);
    }
  }
}


// Move into cloud theme

.strip-trans {
  background: transparent;
}

pre {
  color: $white;
}

header.banner nav.nav-primary ul li a:link,
header.banner nav.nav-primary ul li a:visited {
  padding: 14px 14px 10px;
  box-sizing: border-box;
  float: left;
}

header.banner nav.nav-primary ul li a.active {
  border-bottom: 3px solid $button-primary-color;

  @media screen and (max-width : 768px) {
    border-bottom: 1px solid #CCC;
    background-color: #DDD;
  }
}

@media screen and (max-width : 768px) {
  .banner .nav-primary ul li:nth-last-child(-n+2) a:link,
  .banner .nav-primary ul li:nth-last-child(-n+2) a:visited {
    border-bottom: 1px solid #CCC;
  }
}


a:link,
a:visited {
  color: $button-primary-color;
}

a.button--primary:link,
a.button--primary:visited {
  color: $white;
}

@media only screen and (max-width : 768px) {
  .row-hero {
    padding-top: 20px;
    margin-top: 0;
  }

  footer.global {
    padding-top: 0;
  }
  .row {
    padding-bottom: 20px;
  }
}

body {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .nav-toggle {
    top: 0;

    .nav-toggle__link {
      background: url('../img/navigation-menu.svg');
      width: 48px;
      height: 48px;

      &.open {
        display: block;
      }

      &.close {
        display: none;
      }
    }
  }

  #nav:target {
    ul {
        display: block;
    }
  }

  #nav:target + .nav-toggle {
    .nav-toggle__link {
      &.open {
        display: none;
      }

      &.close {
        display: block;
      }
    }
  }
}

// accordion
.accordion {
    box-sizing: border-box;
    border-radius: 2px;
    list-style: none;
    background: $white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    margin-bottom: 40px;


    // accordion main sidebar title
    .accordion__title {
        border-bottom: 1px dotted #B2B2B2;
        padding: 13px 20px 12px;
        margin: 0;
        font-size: 1.3em;
    }

    // accordion data block, contains all filter links and controls.
    .accordion__tab {
        border-bottom: 1px dotted #B2B2B2;

        &:last-of-type {
            border: none;
        }

        // Block level title
        .accordion__tab-title {
            padding: 12px 20px;
            margin: 0;
            color: $cool-grey;
            cursor: pointer;
            background: transparent url('../img/icons/accordion-open.svg') top 20px right 20px no-repeat;

            &.active {
                background-image: url('../img/icons/accordion-close.svg');

                & + .accordion__tab-content {
                    max-height: 1000px;
                    transition: max-height .5s ease-in;
                }
            }
        }

        // Filter list
        .accordion__tab-content {
            max-height: 0;
            transition: max-height .5s ease-out;
            overflow: hidden;

            .accordion__tab-list {
                list-style-type: none;
                padding: 0 20px 14px;
                margin: 0;

                .accordion__tab-item {
                    margin-bottom: 0.15em;

                    .accordion__tab-link {
                        box-sizing: border-box;
                        color: $cool-grey;
                        width: 100%;
                        display: inline-block;
                        padding-right: 20px;

                        &:hover {
                            color: $button-primary-color;
                            text-decoration: none;
                        }
                    }

                    &.active {
                        font-weight: 400;

                        .accordion__tab-link {
                            border-left: 3px solid $button-primary-color;
                        }
                    }
                }
            }
            .accordion__tab-list > .accordion__tab-item {
              margin-bottom: 1em;
            }
        }
    }
}
