////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// Vertical divider applies a vertical divider between columns inside parent
/// @group Utils
/// @example
///   <div class="row vertical-divider">
///     <div class="six-col">...</div>
///   <div class="six-col last-col">...</div>
///   </div>
@mixin maas-dividers {
  .vertical-divider {
    position: relative;

    > * {
      padding: 0;

      @media only screen and (min-width : 768px) {
        padding-left: ($gutter-width / 2);
        padding-right: ($gutter-width / 2);
      }

      &:before {
        content: '';
        position: absolute;
        right: -($gutter-width / 2);
        top: 0;
        height: 100%;
        width: 1px;
        border-left: 1px dotted $warm-grey;

        @media only screen and (max-width: $breakpoint-medium) {
          display: none;
        }
      }
    }

    > *:last-of-type{
      padding-right: 0;

      &:before {
        border-left: 0;
      }
    }

    > *:first-of-type {
      padding-left: 0;
    }
  }

  .horizontal-divider {
    position: relative;

    > * {

      &:after {
        content: '';
        position: absolute;
        bottom: -20px;
        width: calc(100% - #{$gutter-width});
        height: 1px;
        border-bottom: 1px dotted $warm-grey;

        @media only screen and (max-width: $breakpoint-medium) {
          display: none;
        }
      }
    }
  }
}
