////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// MAAS Header
/// @group MAAS Header
@mixin maas-external-link {

  .external {
    color: $text-color;
    font-weight: 400;
    background-image: url('#{$asset-path}769fa468-external-link-footer.svg');
  }
}
