////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-inline-logos
/// @since        0.0.13
////

/// Inline logos component
/// @group Lists
/// @example
///   <ul class="inline-logos">
///     <li>...</li>
///   </ul>
@mixin maas-inline-logos {
  .inline-logos {

    li {

      img {
        height: auto;
        max-width: 230px;
        max-height: 65px;
      }
    }
  }
}
