////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// Inline logos component
/// @group Lists
/// @example
///   <ul class="inline-logos">
///     <li>...</li>
///   </ul>
@mixin maas-inline-logos {
  .inline-logos {

    li {

      img {
        height: auto;
        max-width: 230px;
        max-height: 65px;
      }
    }
  }
}
