////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// Lists
/// @group Lists
@mixin maas-lists {
  .list--large li {
    font-size: 18px;
    padding: 20px 0;
  }

  .list__bullets {

    li {
      padding-left: 20px;

      &:before {
        /* For a round bullet */
        content: '\2022';
        /* For a square bullet */
        /*content:'\25A0';*/
        display: block;
        position: relative;
        max-width: 0;
        max-height: 0;
        left: -17px;
        top: 0;
        color: $black;
        font-size: 20px;
      }
    }

    &.list__bullets--orange {

      li {

        &:before {
          color: $primary-button-color;
        }
      }
    }
  }
}
