////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// Lists
/// @group Lists
@mixin maas-lists {
  .list--large li {
    font-size: 18px;
    padding: 20px 0;
  }

  .list__bullets {
    margin-left: 0;

    li {
      padding-left: 25px;
      position: relative;
      list-style: none;

      &:before {
        content: '';
        background-image: url("https://assets.ubuntu.com/v1/2ccda8d7-tick-orange.svg");
        background-repeat: no-repeat;
        display: block;
        left: 2px;
        top: 5px;
        color: $white;
        font-size: 20px;
        width: 16px;
        height: 16px;
        position: absolute;
      }
    }
  }

  .list {

    &.list__bullets {

      li {

        &:before {
          left: 2px;
          top: 26px;
        }

        @media only screen and (max-width : $breakpoint-medium) {
          &.last-item {
            border-bottom: 1px dotted #888;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}
