////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/ubuntu-maas
/// @since        1.0.0
////

/// Lists
/// @group Lists
@mixin maas-lists {
  .list--large li {
    font-size: 18px;
    padding: 20px 0;
  }

  .list__bullets {

    li {
      padding-left: 25px;
      position: relative;

      &:before {
        content: '';
        background-image: url("http://assets.ubuntu.com/sites/ubuntu/latest/u/img/patterns/tick-orange.svg");
        background-repeat: no-repeat;
        display: block;
        left: 2px;
        top: 26px;
        color: $black;
        font-size: 20px;
        width: 16px;
        height: 16px;
        position: absolute;
      }
    }

    &.list__bullets--orange {

      li {

        &:before {
          color: $primary-button-color;
        }
      }
    }
  }
}
