name: docs links on maas.io/docs

on:
  schedule:
    - cron: "0 13 * * *"
  workflow_dispatch:

jobs:
  check-links:
    if: github.repository == 'canonical-web-and-design/maas.io'
    runs-on: ubuntu-latest

    steps:
      - name: Install linkchecker
        run: sudo pip install LinkChecker

      - name: Write linkchecker config file
        run: |
          mkdir -p ~/.linkchecker
          cat > ~/.linkchecker/linkcheckerrc <<EOF
          [checking]
          timeout=1000
          
          [filtering]
          nofollow=!https:\/\/maas.io\/docs\/
          checkextern=1
          ignore=
            https://res\.cloudinary\.com
            .*&start=
            /q_auto
            /fl_sanitize
            /w_
            /h_
            https://assets\.ubuntu\.com"
            https?://.*example\.com"
            https://my\.registry:port"
          
          [output]
          status=0
          warnings=0
          EOF
      - name: Run linkchecker
        run: |
          linkchecker https://maas.io/docs

      - name: Send message on failure
        if: failure()
        run: |
          curl -X POST \
            -F "workflow=${GITHUB_WORKFLOW}" \
            -F "repo_name=${GITHUB_REPOSITORY}" \
            -F "action_id=${GITHUB_RUN_ID}" \
            ${{ secrets.BOT_URL }}?room=docs
